[2021-04-16 20:14] mconnew commented on #342
This is a great suggestion. Would you be willing to submit a PR with the change along with a test? You just need to make an overload of the UseNetTcp method which takes an IPAddress parameter. Then copy one of the existing tests to add a variant where you specify IPAddress.Loopback. The code is in src\CoreWCF.NetTcp\src\CoreWCF\Configuration\ServiceModelWebHostBuilderExtensions.cs and would someth

[2021-04-16 20:20] mconnew commented on #341
I have a general policy that if we don't have a test, the api isn't made public. The fastest way to get this would be to contribute a unit test which uses this api and validates expected behavior? Otherwise it will get put on the TODO list and might be a while. I'm not familiar with that api, I had a quick look and it looks like it's just a description of a FaultContract attribute converted to mor

[2021-04-16 21:09] mconnew opened #345 "Add support for MessageParameterAttribute"
This is currently internal. We have support for understanding System.ServiceModel.MessageXXXXXXXAttribute attributes in CoreWCF, but this one was missed. The actions needed are:
- [x] Make MessageParameterAttribute public
- [x] Add tests for MessageParameterAttribute
- [x] Add compat code to support S.SM namespaced version of attribute
- [x] Add tests for S.SM namespaced version of attribute

This

[2021-04-16 21:39] Grauenwolf opened #347 "IWebHostBuilder is Deprecated. Use IHostBuilder instead"
https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#hostbuilder-replaces-webhostbuilder

This affects  `UseNetTcp` and various tests/samples.

[2021-04-20 10:29] Cornishman opened #351 "Http binding response stream being closed preventing additional middleware functionality"
While try to add request/respose logging to an application I'm working on I hit an issue with the httpContext respose body stream being disposed inside CoreWCF preventing other middlewares from accessing the response.

[2021-04-29 08:17] pgrawehr opened #353 "Using an existing instance of an object as a service should default to InstanceBehavior.Single"
I want the server to serve an existing instance of an object (because the object has a state already). Let's try it with an example:

In `Services.EchoService` add a ctor and change the implementation as follows:

[code]

If I run the `BasicHttp.SimpleTest` now I get an error `System.InvalidOperationException: The service type provided could not be loaded as a service because it does not have a de

[2021-05-04 22:15] mconnew commented on #353
The problem for CoreWCF is it has no way of knowing if the instance has been added to DI as a Singleton, or as a Transient. All it knows is it can ask for an instance and get one. You have to configure CoreWCF on top of that to configure your InstanceContextMode. There is existing behavior in WCF that when you are finished with the instance, if it implements IDisposable, we call Dispose on it. I d

[2021-05-05 07:06] pgrawehr commented on #353
I quickly tested case 2, but it didn't work. I get the following exception when the host is built:
[code]
I may later try the other suggested methods.

I haven't really digged deep into the code yet, but I see that `ServiceDescriptor` has a `Lifetime` property, which exactly states the desired lifetime of the service. Isn't that property available where the DI asks for an instance?

[2021-05-05 16:35] mconnew opened #355 "DI is checked for instances of IServiceBehavior after we ensure there's a ServiceBehaviorAttribute"
This is preventing injecting a ServiceBehaviorAttribute via DI. The logic needs to be changed to check for IServiceBehavior instances in DI before we check if we have an instance of ServiceBehaviorAttribute in the set of behaviors.
This was discovered as part of #353

[2021-05-05 16:43] mconnew commented on #353
That's interesting, it looks like we ensure there's a ServiceBehaviorAttribute in the set of behaviors before we check DI. I've opened an issue for that bug as that should work. It's possible the 3rd option might hit the same problem, but that one can be worked around. You can do this instead:
[code]

That way you check if there's already an instance and modify that if there is, otherwise you prov

[2021-05-07 11:06] pgrawehr commented on #353
@mconnew Unfortunately, that last suggestion also doesn't work as expected. It seems to correctly update the behaviors, but the Service's `Dispose()` method is called once before that callback is executed.

[2021-05-07 15:59] pankti11 commented on #200
Hello,

I am also getting the below error:

System.InvalidOperationException: 'The service certificate is not provided. Specify a service certificate in ServiceCredentials. '

This exception was originally thrown at this call stack:
    CoreWCF.Security.ServiceCredentialsSecurityTokenManager.CreateServerX509TokenProvider()

Code for configuring the certificate it

[code]

 Has anyone solved this ?

[2021-05-07 19:51] mconnew commented on #353
What's the call stack for the Dispose?

[2021-05-08 11:20] pgrawehr commented on #353
This is the callstack at the first dispose:
[code]

and this is the call stack at the point where the ConfigureHostBase is finally executed:
[code]

The problem is probably in `DispatcherBuilder.BuildDispatcher()`, because the forth line there

[code]
already creates (and disposes) an instance of the service. Maybe the lines 694 and 695 should be moved to the top of the method:
[code]

[2021-05-09 19:43] ovebastiansen opened #356 "Http.sys support with net.tcp"
I am trying to migrate an application over to corewcf, and have stumbled upon something that looks like a roadblock. There is heavy use of portsharing in the application setup, same server, same port, multiple instances through context path. It is also using both http/https and net.tpc.
I found this issue from way back stating that net.tcp was only supported on kestrel and not http.sys
https://git

[2021-05-10 06:57] ovebastiansen commented on #342
I did some checking into this, since it seems like a quick fix to do. After adding the overload and digging into the code I found this method later in the same file you referenced
`private void OnServiceBuilderOpening(object sender, EventArgs e)
        {
            foreach (ListenOptions listenOptions in ListenOptions)
            {
                IPEndPoint endpoint = listenOptions.IPEndPoint;

[2021-05-12 00:27] mconnew commented on #353
I believe I have a fix for you, but I haven't had time to write all the tests yet. If you are interested in giving it a preview, you can find the changes on my branch [here](https://github.com/mconnew/CoreWCF/tree/FixDIDisposal). Otherwise I'll try to get it finished up later this week.

[2021-05-12 11:53] allderidge commented on #313
IIS and IISExpress work when running with the latest code base built locally both with the sample and an existing application server migrated over to net5.0 . The converted application server is stable and all the external API tests pass so CoreWcf looks to be completely functional thanks.

Note that on 0.1.0 and 0.2.0-alpha with the fix provided above hosting on IISExpress works but I cannot host

[2021-05-12 12:14] inforithmics commented on #313
My workaround isn't needed anymore with the newest CoreWCf nuget packages.

[2021-05-13 16:16] mconnew commented on #328
@shaofing, closing as I believe this is fixed. If this is still a problem, please reopen the issue.

[2021-05-13 16:16] #328 closed

[2021-05-13 16:18] mconnew commented on #342
Assigning to @ovebastiansen as he has a PR in progress for this issue.

[2021-05-13 16:23] mconnew commented on #343
Although the transport security needs to be configured via asp.net core, the TransportWithMessageCredential security mode needs this when used with BasicHttpBinding. Assigning to @birojnayak as he's working on the TransportWithMessageCredential implementation.

[2021-05-13 16:24] mconnew commented on #344
If you have any follow up questions, please reopen the issue.

[2021-05-13 16:24] #344 closed

[2021-05-13 16:28] mconnew commented on #347
This is a duplicate of #229 as switching to IHostBuilder will be a part of moving to use the generic host.

[2021-05-13 16:28] #347 closed

[2021-05-13 16:33] mconnew commented on #356
I just realized I answered about IIS, Http.Sys is a different matter. I'll reply about that later today.

[2021-05-13 17:29] mconnew commented on #356
I had a fresh look at the implementation and you can't host multiple IServer instances (which is what Http.Sys and Kestrel both supply) in a single WebHost. If you want NetTcp in the same process as an Http.Sys based service, you need to create 2 instances of asp.net core in your process. So something like this:
[code]
I know this is less than ideal but it's a limitation of asp.net core to only ha

[2021-05-13 20:17] ewinnington opened #360 "Linux net.tcp TcpClientCredentialType.Windows"
Has anyone got TcpClientCredentialType.Windows working on an AspNet net5.0 linux host?

I don't really understand all the steps necessary to configure the docker image for a linux hosted AspNet to pass the credentials along.

I have my current tries here  https://github.com/ewinnington/Server-Client-Communication-WCF

For the moment, it works on Linux with SecurityMode = None, what do I need to se

[2021-05-14 07:45] ovebastiansen commented on #356
The thing is that I want the feature of portsharing with both http and net.tcp, so actually I need to run net.tcp with http.sys. Is that possible?

[2021-05-14 09:36] allderidge commented on #313
F.Y.I. after testing with IIS there is an measure you must take in order to get CoreWcf working with Asp.Net Controllers, this is to invoke UseRouting() before UseServiceModel() on the IApplicationBuilder. If you don't do this then all routed requests for Controllers result in a 404. Note that I've only tested this with asp.netcore 5.0 .

E,g,:
[code]

In testing this isn't the case with Kestral o

[2021-05-14 15:26] davidfowl commented on #313
Wcf should start using endpoint routing. It would solve the ordering problem nicely

[2021-05-14 20:37] mconnew commented on #313
@davidfowl, if you support .NET Framework with asp.net core 5.0, then I would do that asap. Right now the focus is on getting some core features working on .NET Framework which means staying with asp.net core 2.1 for now. Once we have a few key features implemented, then we'll more to the latest version. The main one is WSDL support.

[2021-05-14 22:00] davidfowl commented on #313
CoreWcf can cross compile and offer the new API when targeting .net core 3.1 and up

[2021-05-15 00:50] mconnew commented on #313
ASP.NET Core 2.1 runs perfectly fine on .NET Core 3.1. I don't know of a way to to make those api's only available when using ASP.NET Core 3.1. I suspect it will require some changes internal to CoreWCF to switch to the endpoint way of doing things. I can't see a clean way to do this without a lot of hacks as I can't make the code reference 3.1 libraries even on .NET Core 3.1 because of ASP.NET Co

[2021-05-15 02:39] davidfowl commented on #313
You target both 2.1 and 3.1 the you ifdef. It's not too bad, lots of libraries do it

[2021-05-16 20:35] birojnayak commented on #360
It should work.. I have done some testing around it in .net core3.1... one thing to ensure that keytab file is present.. it's complaining that "FILE:/etc/krb5.keytab is nonexistent or empty"... here is a link https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-5.0&tabs=visual-studio#linux-and-macos-environment-configuration

[2021-05-17 06:24] birojnayak commented on #129
@Ximik87 sorry for following up with you once again.. can I expect the first round of PR sometime this month ?

[2021-05-17 06:28] Ximik87 commented on #129
@birojnayak, yes, I almost finished (there were some problems, so I didn't make it by the end of April)

[2021-05-18 15:55] sdesmarteau opened #361 "Consuming a Duplex service using WSDualHttpBinding"
Would it be possible to add wsDualHttpBinding as an option to consume a duplex service?

[2021-05-18 18:29] mconnew commented on #361
Oh, this is an interesting idea. I initially thought this issue was opened in the client repo and was going to say no, because you need the server. But now I realize this has been opened in the CoreWCF repo, this is a bit more interesting and possible. This would require creating a new client binding which lives in the CoreWCF repo which creates a service internal to itself to receive the reply. I

[2021-05-19 21:26] mconnew commented on #353
Created a PR. Once merged, this should fix most of your problems. Basically it avoids calling Dispose with a pre-probe of DI and allows ServiceBehaviorAttribute to be provided using DI. The pre-probe has been avoided two fold. If using InstanceContextMode.Single, it has already attempted to create the singleton instance so doesn't need a probe. If using anything else, it avoids the pre-probe by us

[2021-05-21 07:37] pgrawehr commented on #353
I have a few more urgent tasks to do now, but I'll try to check out your fix sometime next week. I appreciate the help.

[2021-05-22 10:18] g7ed6e commented on #313
Hi. First thanks for this great job it will definitely open legacy workload migrations on containers.
Just a question why not being only focused on the latest ASP.NET core LTS i.e 3.1 and drop ASP.NET core 2.1 support. The whole goal is to support WCF on latest .NET core i think and I don't see right now the production use case of running CoreWCF on top of .NET full fwk.

[2021-05-22 16:06] Kralizek commented on #313
@g7ed6e i guess the idea is to enable step by step migrations.

Wcf on windows
CoreWcf on windows/netfx
CoreWcf on windows/netcore
CoreWcf on linux/netcore

[2021-05-22 18:07] g7ed6e commented on #345
@mconnew could you provide links for the 2 latter tasks ?

[2021-05-24 17:13] ewinnington commented on #360
Thanks a lot, I'm working on getting an environment setup to test this correctly.

[2021-05-24 17:13] #360 closed

[2021-06-02 13:27] amiyol opened #367 "DataContractResolver never set to DataConractSerializer initiated from DataContractSerializerOperationBehavior"
DataContractSerializerOperationBehavior which it's DataContractResolver was set, does not pass it to DataContractSerializer crated in CreateSerializer.

**Current CreateSerializer methods:**

   public virtual XmlObjectSerializer CreateSerializer(Type type, string name, string ns, IList<Type> knownTypes)
        {
            return new DataContractSerializer(type, name, ns, knownTypes);
        }

[2021-06-04 19:19] Treit opened #369 "CoreWCF does not honor the 'Connection: close' header if set in the request"
# Problem
CoreWCF appears to always send `Connection: keep-alive` in the response HTTP headers, even if the request headers specified `Connection: close`. This is a regression from how WCF worked on .NET Framework.

# Steps to repro:
1. Run the sample server application that comes with the CoreWCF code (src\Samples\NetCoreServer\NetCoreServer.csproj).
2. Make the following web request:

[code]

#

[2021-06-05 02:51] padhumailin opened #370 "System.ServiceModel.Security.SecurityNegotiationException: 'Could not establish trust relationship for the SSL/TLS secure"
I have tried creating sample application from
https://github.com/CoreWCF/CoreWCF/tree/main/src/Samples/NetCoreServer
https://github.com/CoreWCF/CoreWCF/tree/main/src/Samples/NetCoreClient

in client application, im getting this error. how to fix this
System.ServiceModel.Security.SecurityNegotiationException: 'Could not establish trust relationship for the SSL/TLS secure channel with authority '127

[2021-06-07 16:47] JoelDavidLang commented on #196
I'm having what I believe is a related issue. When the server uses the invoke delegated generated in the InvokerUtil class it throws an ArgumentException. This is because the particular method I'm calling has a _bool_ parameter after an _out Guid_ parameter and the invoker delegate code does not handle it properly.

I intend to fix the problem and make a pull request.

[2021-06-09 06:41] pgrawehr commented on #353
A quick test with the code from my original post seems to show that it is working. I suggest you add a test similar to the one from my post.

[2021-06-09 14:53] JohnLeyva commented on #370
@padhumailin, please review if the  script can help you to setup SSL for the samples

https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/gencert.ps1

[2021-06-10 01:41] padhumailin commented on #370
Thanks! It worked

[2021-06-10 01:41] #370 closed

[2021-06-10 16:20] HongGit commented on #367
@amiyol go ahead and submit a PR and add a test for the implementation?

[2021-06-17 15:58] yuqi1207 opened #373 "Dose CoreWCF support to use svcutil.exe to generate proxy?"
Dose CoreWCF support to use svcutil.exe to generate proxy? We try to use this way to generate proxy but failed. If not supported, any alternatives?

[2021-06-28 12:41] nzain commented on #6
@mconnew it seems you've put some effort into named pipes already. What would be a good starting point, when I'd like to connect from net5/6 _core_ to a local NamedPipe WCF net48 _Framework_ service on windows? Does it sound like piece of cake... or more like total madness?

I've been watching WCF core for a long time and my priority for a net5/6 named-pipe WCF client solution is growing continuou

[2021-06-28 20:11] birojnayak opened #375 "make SecurityTokenAuthenticator async"
This is one of the improvements we should make to the api's. Can you open an issue to make SecurityTokenAuthenticator async?

_Originally posted by @mconnew in https://github.com/CoreWCF/CoreWCF/pull/340#discussion_r658333874_

[2021-06-28 20:34] tapizquent opened #376 "Make SecurityToken implementations public"
In WSSecurity for .NET framework, classes such as `UserNameSecurityToken` are public, which allow us to access properties such as UserName and Password from these.

Is there any reason why the implementation of these classes are internal here? Is there any other way to access these properties?

[2021-07-08 16:44] mconnew opened #377 "Create Sample for hosting HTTP based service in IIS"
This is non-obvious and the normal response is to forget that you are using CoreWCF and get an asp.net core app running hosted in IIS, then add CoreWCF to that app as it's simply middleware running on top of asp.net core. Having a more concrete example would be helpful for people looking to see what that looks like.

[2021-07-08 17:00] mconnew opened #378 "Add compatibility code for System.ServiceModel.XmlSerializerFormatAttribute"
The reason we don't directly support this attribute is to avoid referencing the System.ServiceModel.Primitives buget package and pulling in the entire WCF client code. We currently have compatibility code using reflection to convert some attributes in the System.ServiceModel namespace to the equivalent ones in the CoreWCF namespace.

_Originally posted by @mconnew in https://github.com/CoreWCF/Cor

[2021-07-08 17:04] mconnew commented on #378
If anyone wants to work on this, let me know and I can point you to the existing compatibility code for other attributes and give guidance on the best place to add equivalent code.

[2021-07-08 17:24] #345 closed

[2021-07-08 17:35] mconnew commented on #356
When the net.tcp port sharing feature is implemented, you will be able to do the approach listed above. A pre-requisite for net.tcp port sharing is NetNamedPipe binding on the WCF client as that's how net.tcp port sharing communicates with the port sharing service. So right now we're blocked on this. Once that's available, would the approach I listed above work for you to have a single process rec

[2021-07-08 17:37] mconnew commented on #373
svcutil requires the service to be publishing a WSDL. The issue to track this work is #270 so I'm closing this issue as a duplicate. If you have any more questions, please add them to the other issue.

[2021-07-08 17:37] #373 closed

[2021-07-08 17:41] mconnew commented on #376
Only reason is because of lack of tests. Would you be able to submit a pull request making this public including a test with your specific scenario to make sure there are no other blockers to how you need to use this.

[2021-07-09 12:00] JohnLeyva commented on #378
@mconnew, I can give it a try

[2021-07-14 12:35] D0ctorWh0 opened #379 "ChannelFactory"
I am trying to migrate my wcf client from nrt framework. I used ChannelFactory to build channel. But i cant find ChannelFactory in CoreWCF and cant use Channel factory from System.ServiceModel,because it needs System.ServiceModel.EndpointAddress, not CoreWCF.EndpointAddress.

[2021-07-18 16:20] g7ed6e commented on #379
Hi AFAIK CoreWCF aims to offer a migration path towards dotnet core to WCF server side code. For client side code SSM is already netstandard2.0.

[2021-07-23 06:02] ovebastiansen commented on #356
As long as I can portshare on both http and net.tcp then any approach would work. And based on how middlewares and servicebehaviours work, that might be that two instances in the same app is the only option as well.

[2021-07-26 15:21] JohnLeyva commented on #378
@mconnew, please let me know what code is good to start looking at and any other guidance you consider convenient

[2021-07-26 23:02] #355 closed

[2021-07-27 12:50] ovebastiansen commented on #342
closed by #383

[2021-07-27 17:54] mconnew commented on #356
I have a path to getting Port Sharing working now due to some changes happening in .NET 6. But it's going to have to wait until we move to .NET 6 which isn't going to be until after I have WSDL support working.

[2021-07-27 17:55] mconnew commented on #379
@D0ctorWh0, as @g7ed6e mentioned, everything you need should be available in the System.ServiceModel.* packages in nuget. If there's any features missing, the repro to report that is https://github.com/dotnet/wcf

[2021-07-27 17:55] #379 closed

[2021-07-27 17:57] mconnew commented on #353
This is checked in. We'll be doing a full release very soon with this change.

[2021-07-27 17:57] #353 closed

[2021-07-28 14:11] BiancoA opened #386 "CoreWCF nuget package is not found on nuget.org, makes it difficult to use the Sample projects"
When trying to explore one of the sample projects, https://github.com/CoreWCF/CoreWCF/tree/main/src/Samples/NetCoreServer for example,

![grafik](https://user-images.githubusercontent.com/6458284/127336960-cb8f812b-8b38-48b1-8c89-82a192a2a594.png)

when looking for the package(s) only three are found:

![grafik](https://user-images.githubusercontent.com/6458284/127337076-5df50e39-3b99-4e30-bdb1-7f

[2021-07-28 19:41] birojnayak commented on #386
here is the link if you need = > https://www.nuget.org/profiles/corewcf

Below is the image... check your nuget package manager config

<img width="1258" alt="Screen Shot 2021-07-28 at 12 39 27 PM" src="https://user-images.githubusercontent.com/49173255/127385356-07318bdc-1d38-4059-b972-fe34d4e6e999.png">

[2021-07-28 21:19] FuriousLlama opened #387 "Using UsePathBase results in an empty Response Body with code 202"
Adding ```app.UsePathBase```[1] is resulting in the reply to be 202 with an empty body. I believe that the request is being processed since if nothing is passed on the request body an exception is thrown [2].

[1]
[code]

[2]
[code]

[2021-07-29 08:00] BiancoA commented on #386
thank you! I was a bit confused by the naming convention. Adding all 3 packages made it work

[2021-07-30 11:23] seantarogers opened #393 "Does CoreWCF.Http generate a Wsdl file?"
Hello,

Does CoreWCF.Http expose a Wsdl file?  I couldn't seem to find one in the NetCoreServer sample service.

Thanks for your time.

[2021-07-30 17:08] #335 closed

[2021-07-30 17:09] birojnayak commented on #314
@john-e-lewis please close this issue as we added the support in 0.2.0 release

[2021-07-30 17:17] john-e-lewis commented on #314
Great work,

[2021-07-30 17:17] #314 closed

[2021-08-01 09:35] #393 closed

[2021-08-02 05:37] wp0372176 opened #395 "why corewcf slower than .netframework wcf"
basically， .net core webapi  2x faster than  .net framework webapi  。
but  corewcf slower than .net framework wcf

TestDemo:

    [System.ServiceModel.ServiceContract]
    [CoreWCF.ServiceContract]
    public interface ITest
    {
        [System.ServiceModel.OperationContract]
        [CoreWCF.OperationContract]
         string GetTest1();

    }

    [CoreWCF.ServiceBehavior(ConcurrencyMode = Co

[2021-08-02 08:57] cszczotka opened #396 "Issue after upgrade to 0.2.0 -CoreWCF.Configuration.ServiceBuilder, cannot be used for communication because it is in the Faulted state"
Hi,
After upgrade nuget -s to version 0.2.0 I see such issue for .net core 3.1 service running on IIS . Do you know what can be wrong ?

2021-08-02 08:48:16.8224|20|-|ERROR|Microsoft.AspNetCore.Server.IIS.Core.IISHttpContext+Log.ApplicationError|Connection ID "12682136552285962056", Request ID "80007f9f-0000-b000-b63f-84710c7967bb": An unhandled exception was thrown by the application.Exception cl

[2021-08-03 04:01] birojnayak commented on #395
@wp0372176 could you please provide more details ? If possible list down more details on component level . We have an issue #337 which we are planning to fix by end of year and above information would definitely help

[2021-08-03 12:59] petarpetrovt opened #397 "`OperationFormatUse.Encoded` use of `XmlSerializerFormatAttribute` throws PlatformNotSupportedException"
I am trying to migrate an existing WCF service to .NET 5.0 via CoreWCF.
Starting the asp.net core application throws `PlatformNotSupportedException` when the `Use` property of the `XmlSerializerFormatAttribute` attribute is set. Removing it dont throws but the invocation always returns null (debugging the service there is a correct result returned in the implementation).

[code]

[2021-08-04 12:35] cszczotka commented on #313
Hi,
@inforithmics @allderidge  do you run CoreWCF on IIS ( inprocess hosting model )  ? Do you have any example how to set up ?  I have similar issue with version 0.1.0 like @allderidge and new issue with 0.2.0 ( see below exception stack ) for .net core 3.1.

`_2021-08-04 12:12:30.0494|10|-|ERROR|Microsoft.AspNetCore.Server.IIS.Core.IISHttpContext+Log.ApplicationError|Connection ID "1210567579998

[2021-08-05 16:15] FuriousLlama commented on #387
After upgrading to 0.2.0 the problem went away. Closing the issue.

[2021-08-05 16:15] #387 closed

[2021-08-05 21:42] mconnew commented on #396
Are there any other exceptions thrown before this? Would you be able to provide the code for how you configure IIS with the host builder?

[2021-08-08 06:13] g7ed6e commented on #377
I think a kind of cookbook with below recipes would also ease migration. Format could be simple code snippet in markdown or complete sample.
- Use DI registered ServiceBehavior
- Plug custom InstanceProvider implementation
- Plug custom Authz / Authn

[2021-08-09 10:16] allderidge commented on #313
@cszczotka I have a example of an echo service hosted in IIS using CoreWCF 0.2.0 and AspNetCore 5.0 which you can get via https://github.com/allderidge/CoreWcf_IisHostBugReport/tree/Test_0.2.0_With_Service .

The example has a service project 'IisCoreWcfTest' and a client project 'Client'. Debug the service project and then debug the client project to invoke the WCF service.

There are three launc

[2021-08-09 13:36] cszczotka commented on #396
Hi,
Look like this issue is related with multiple bindings on my IIS for example bindings:
localhost:8080
*:8080
hostname:8080

If I leave one binding *:8080 I don;t see this exception.

This code is standard:

`public class Program
    {
        public static void Main(string[] args)
        {
            CreateHostBuilder(args).Build().Run();
        }

        public static IHostBuilder CreateH

[2021-08-09 20:10] mconnew commented on #313
@cszczotka, are you using + or * in your url?

[2021-08-09 21:59] mconnew commented on #396
This an unfixed bug with IIS hosting when using https and using the * or + in place of the hostname. There's also a bug which I've fixed and should be released later today which causes problems when you have multiple listen addresses for the same scheme (e.g. http or https). The fix is to key on the scheme and port number, but it's still going to have a problem with the same scheme and port number

[2021-08-10 09:19] cszczotka commented on #396
Ok. Thanks. I have also noticed in https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Primitives/src/CoreWCF/ServiceHostObjectModel.cs FixUri method
`...
else if (address.StartsWith("https://+:", StringComparison.OrdinalIgnoreCase) ||
                         address.StartsWith("https://+/", StringComparison.OrdinalIgnoreCase) ||
                         address.StartsWith("https://*:", Stri

[2021-08-12 10:48] g7ed6e commented on #341
Hi I added the suggested unit test and made the FaultContractInfos property public.

[2021-08-12 11:00] g7ed6e commented on #378
Hi i wrote compat code and unit/integration tests that check behavior is identical whereas SSM or CoreWCF XmlSerializerFormatAttribute is used either at ServiceContract or OperationContract level. It looks good to me.

[2021-08-12 12:53] WenningQiu commented on #341
@g7ed6e Thanks you!

[2021-08-12 13:59] Danielku15 opened #409 "RemoteEndpointMessageProperty broken for NetTcp @ net5.0"
It seems there were some changes in the ASP.net core connection handling and Kestrel as part of net5.0 which break the access to the remote address of requests.

**Situation Before**
In v2.x the `Microsoft.AspNetCore.Connections.ConnectionContext` did not expose any local or remote endpoints. The feature collection contained always an `IHttpConnectionFeature` which could be used for accessing the

[2021-08-12 14:51] g7ed6e opened #410 "Some .net472 unit tests are failing when current culture is not en-US"
Some unit tests that assume current culture is en-US assert exception stack trace or exception message. Thus they are failing when current culture is not en-US - fr-FR in my case.

[2021-08-12 14:55] BradBarnich commented on #409
yeah, that is exactly what we had to do for our fork.

https://github.com/BradBarnich/CoreWCF/commit/84beb95d27d1ddd2446134d2aabed2fdf98f3c73#diff-eb51e6bd23bdf452be456eb85805a2a7fa60a61518708d91ba56d7b213d39c7aL53-R53

[2021-08-12 16:16] mconnew commented on #386
The issue you were hitting is the sample project is pointing to the devops pre-release nuget server and not nuget.org. It looks like you have this resolved now. We have 0.2.1 packages available on nuget.org and there's some new features and bug fixes so that's probably the best version to experiment with.
Closing the issue as you're unblocked, feel free to reopen if you continue to have problems.

[2021-08-12 16:16] #386 closed

[2021-08-12 16:20] mconnew commented on #396
That is the problem I mentioned about using https and using * or +. If you don't use those, then it should work fine with the 0.2.1 release which has just been released yesterday. Can you give 0.2.1 a try and let me know if it fixes your problem.

[2021-08-12 16:38] mconnew commented on #409
We can't do what @BradBarnich did as we still reference the 2.1 api's. The solution is to make the property an auto property then call a remote endpoint init method in the constructor. In that constructor, attempt to create the IPEndpoint the current way, and if that doesn't work, use reflection to get the RemoteEndPoint property to populate the auto property.
Would either @Danielku15 or @BradBarn

[2021-08-12 16:41] petarpetrovt commented on #397
This is the output of the integration test:
[code]

[2021-08-12 16:41] #410 closed

[2021-08-12 16:50] BradBarnich commented on #409
@mconnew would you be open to multitargeting net5.0?

[2021-08-12 16:55] #378 closed

[2021-08-12 16:58] #341 closed

[2021-08-12 17:02] mconnew opened #411 "Make HttpsTransportBindingElement public"
With the 0.2.0 release, we now require the transport binding element Scheme to match the server address listening scheme. To use a custom binding with https, you can no longer use HttpTransportBindingElement as the scheme doesn't match, so the Https version needs to be made public.

[2021-08-12 21:17] #409 closed

[2021-08-12 21:18] tapizquent opened #414 "ServiceEndpoint Address"
I had a doubt regarding the base address for an endpoint when setting with `builder.AddServiceEndpoint`.

Usually, in most examples, the endpoint is added as:
`builder.AddServiceEndpoint<MyService, IMyService>(new BasicHttpBinding(), "/basic");`

My question is, how is the address inferred? Is it from the host or is there any place where it should be specified?
What will be the final endpoint? `ht

[2021-08-13 00:15] mconnew commented on #397
Wow, this is some long ago ported code. I just looked at this problem and the reason why this isn't supported is at the time of porting, `SoapReflectionImporter` wasn't available yet and the current latest supported standard was netstandard 1.7!! That tells you how long ago I started porting this.

This should be an easy fix. The problem is [in this file](https://github.com/CoreWCF/CoreWCF/blob/ma

[2021-08-13 05:22] petarpetrovt commented on #397
Sure, I will fix it.

[2021-08-14 05:11] birojnayak commented on #414
refer here https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/NetCoreServer/Program.cs#L19 ... yes you are right... http://localhost:port/basic .... if you have a domain you could use urls like UseUrls("http://yourmachine.domain.name:8080", "https://yourmachine.domain.name:8000") .... feel free to open if you need more clarifications

[2021-08-14 05:11] #414 closed

[2021-08-16 18:36] #397 closed

[2021-08-16 23:16] arttsai opened #423 "How do I setup the service to use soap12"
I imported the wsdl from http://www.dneonline.com/calculator.asmx?wsdl  using dotnet-svcutil on my Mac to try to create a simple arithmetic soap service.

the program.cs is
[code]

the Startup.cs is
[code]

Where CalculatorSoap is the soap service interface and the Calculator implements the interface.

I checked every discussion in the issue list, but I didn't found how to setup the service to soa

[2021-08-18 15:38] tapizquent opened #425 "Is there a way to add IEndpointBehavior to ServiceEndpoint?"
What is the correct way to add an IEndpointBehavior to the service?

In the Net Framework WCF, `host.AddServiceEndpoint` returned an `IServiceEndpoint` which allowed us to simply call `endpoint.Behaviors.Add()` to add a new behavior to this endpoint, but this functionality seems to be missing from the CoreWCF implementation.

What would be the correct way to add these `IEndpointBehavior`?

[2021-08-19 11:27] szyb commented on #10
Two years have passed since your reply. Has anything changed in the priorities for MTOM support?  In the voting thread "Feature Roadmap Vote" (https://github.com/CoreWCF/CoreWCF/issues/234) it's pretty high (2nd place as for now).

[2021-08-19 15:29] osalas891123 commented on #10
Nothing has changed and this is one of the more used features (Healthcare Domain, a lot of projects)

[2021-08-19 18:54] mconnew commented on #10
I have recently ported Mtom support for the WCF Core client (at https://github.com/dotnet/wcf) so I should be able to port it here easily enough. Expect it soon (like in the next few months). If anyone want to bring it over to get it in CoreWCF sooner, I can point you to the commit which contained it and help answer any questions. It shouldn't be a lot of changes needed to bring it over.

[2021-08-23 21:48] tapizquent opened #428 "Set up multiple services with IServiceBuilder"
Is it possible to add multiple services with the IServiceBuilder?

That is, implement something like the following

`builder.AddService<Service1>();`
`builder.AddServiceEndpoint<Service1, IService1>(new BasicHttpBinding(), "/service1");`
`builder.AddService<Service2>();`
`builder.AddServiceEndpoint<Service2, IService2>(new BasicHttpBinding(), "/service2");`

[2021-08-24 11:29] ekinbarut opened #429 "Support for different types of bindings"
I couldn't find it on the roadmap if/when the other types of bindings in WCF will be ported to WCF Core and if there is a prioritization involved around them.

Missing types of bindings:
- WSDualHttpBinding
- WebHttpBinding
- NetPeerTcpBinding
- NetNamedPipeBinding
- NetMSMQBinding

[2021-08-24 14:57] 0x53A opened #430 "Exception after updating from 0.1.0-alpha.113 to 0.2.1: 'The base type 'CoreWCF.Channels.ServiceChannelProxy' cannot be sealed. (Parameter 'TProxy')'"
I had a working setup with a .NET 5 server and a .NET Framework client using NetHttpBinding with client callbacks.

After only updating the CoreWcf version from 0.1.0-alpha.113 to 0.2.1, the server fails with

[code]

When attaching a debugger, I can see the underlying exception:

[code]

[code]

Any idea what's wrong?

My code looks like this:

[code]

[2021-08-24 15:01] 0x53A commented on #430
I can see that ServiceChannelProxy was unsealed with commit https://github.com/CoreWCF/CoreWCF/commit/dd496f1c16b872f52f3737c76da34b6849f009ac#diff-6463b08857af502ffaa4756fe80b6c6a8b88d03fd37f87e209f8c03841b04299

The commit is 11 days old, the last release was 14 days ago, maybe this is already fixed?

I'd be happy to test it out if you can push a new release.

[2021-08-24 18:56] birojnayak commented on #429
@ekinbarut here is for NamedPipe => https://github.com/CoreWCF/CoreWCF/issues/234#issuecomment-703429293 and MSMQ => https://github.com/CoreWCF/CoreWCF/issues/234#issuecomment-703429857 ... I will get other bindings to the roadmap items soon..

[2021-08-24 23:16] mconnew commented on #429
@ekinbarut, there are various challenges to each of those. I'm going to summarize (ie brain dump) what they are for each of them.

WSDualHttpBinding is a tough one as it mixes client and server. Basically a client creates an internal soap service to receive replys. Normally with HTTP the ReplyTo soap header is the anonymous header, which basically means send the reply over the natural transport re

[2021-08-24 23:22] mconnew commented on #430
@0x53A, there should be a dev build available from the azure devops nuget feed that's detailed in the readme.md of the repo. I didn't know duplex used to work!! I tracked down the change and it happened as part of some code cleanup. I think I ported the implementation again from NetFx instead of the one from the client because there was some missing implementation, and that made the class internal

[2021-08-24 23:27] mconnew commented on #428
I designed it to do so, but haven't actually tested it. The implementation does a foreach over the service type to initialize it. There's a few rough edges around doing that, such as dependency injection of IServiceBehavior implementations has no way to configure a behavior to only be for a particular service. I have some ideas how to do that, but as nobody has asked, I haven't implemented them ye

[2021-08-25 08:41] 0x53A commented on #430
haha I've been using it in production for like a year or so now

Thank you, then I'll wait for 0.3, I don't urgently need to update right now this moment, I just didn't want to be left behind on an old version forever.

[2021-08-25 08:41] #430 closed

[2021-08-28 07:14] Ximik87 commented on #429
@mconnew I have a little experience with queues (based on working with NServiceBus framework) and I can try to make prototypes of bindings for working with MSMQ and RabbitMQ

[2021-08-30 13:14] isofttechnz opened #432 "What is the replacement of servicehost and GetAccessControl in CoreWCF and also .NET5."
I am migration old WCF application  to .NET5. It is complaining about `servicehost` and `GetAccessControl` not supporting in .NET5. Could someone please provide some sample solution.

[2021-08-30 16:39] DobrovAlexey opened #433 "Exception when passing <To> and <Action> tags in headers"
Hi, I am migrating an existing WCF service, to netcoreapp3.1, using CoreWCF. But the incoming request returns an exception due to the `<To>` and `<Action>` headers:
[code]

https://github.com/CoreWCF/CoreWCF/blob/616e81f48169d9c094c4ad12a334616112cdef71/src/CoreWCF.Primitives/src/CoreWCF/Channels/MessageHeaders.cs#L1451-L1457

In the code, when receiving headers, a check is performed, when using M

[2021-08-30 22:09] mconnew commented on #433
How did you get the XML from the request? Did you get it from a debugger looking at a Message object (or calling ToString() on a Message object) or was it captured as sent over the network? The message you included is an invalid message which is why you are getting an exception. When using BasicHttpBinding, the default is to use MessageVersion.Soap11. This means using the SOAP 1.1 protocol for the

[2021-08-30 22:20] mconnew commented on #432
WCF doesn't have any implementation of GetAccessControl, so I presume this is calling some other code in the framework. The only GetAccessControl I could find is related to CodeAccessSecurity (or CAS for short), which has been deprecated in .NET Core. You need to remove that code.

There are multiple samples on how to use CoreWCF available [here.](https://github.com/CoreWCF/CoreWCF/tree/main/src/S

[2021-08-30 22:27] mconnew commented on #429
@Ximik87, let's take this discussion to #164 which is the issue being used to track MSMQ/generic queuing support. I'll write up a high level design of how this should be implemented and we can go from there. It will also get visibility from people who are interested in this so might get some useful feedback about the design discussion.

[2021-08-31 00:10] mconnew commented on #164
@Ximik87 has offered to work on developing a queue based binding initially supporting MSMQ and RabbitMQ. This is an outline for the design.

ASP.NET Core only supports a single IServer instance which is where requests come from. An implementation of this isn't suited for non-socket based transports so we need to use a different mechanism. The solution is the IHostedService interface. This is a sim

[2021-08-31 00:57] ssa3512 commented on #164
As far as I am aware MSMQ is not supported in .NET Core. There are no client libraries, you just simply can't use it outside of .NET Framework. I am all for an extensible queue binding, but RabbitMQ and AMQP is definitely the way to go for that for a first implementation. I don't think it will be possible to support MSMQ outside of an extension library with a .NET Framework 4.x target.

[2021-08-31 01:06] mconnew commented on #164
@ssa3512, https://github.com/weloytty/MSMQ.Messaging

MSMQ will be limited to Windows only, but doesn't need to be limited to .NET Framework. We will have a base package, maybe named CoreWCF.Queue, and then other packages which implement the transport part which depend on this, maybe CoreWCF.RabbitMQ for example. There's MQTT, as well as AWS and Azure queue service offerings. MSMQ will be just one

[2021-08-31 01:42] ssa3512 commented on #164
Thanks, I wasn't aware this existed. This will be nice to have.

[2021-09-01 19:28] birojnayak commented on #164
@mconnew  find my answers on some questions..
Do we need a mechanism to reject a message and/or place them in a dead letter queue? E.g. message Action was unrecognized so we can't dispatch it?

Biroj:- This will be an added value for any sort of exception or error situation. E:g:- If call to push failed, or custom filter failed, we can put them into dead-letter queues if provided as part of set up

[2021-09-02 18:19] g7ed6e commented on #164
An implementation relying on Apache Kafka would also be nice

[2021-09-04 14:03] manuelelucchi opened #435 "Sample to use CoreWCF (Server) on a WPF application"
We are migrating two big WPF applications that use WCF to communicate from Framework to NET 5. While the client app has no problems since we can use the implementation provided by Microsoft, for the server one we looked to CoreWCF.
I read all the issues of people asking for ServiceHost etc and understood your needs to create a modern API based on ASP.NET Core.
That said, can I actually use CoreWCF

[2021-09-05 06:36] g7ed6e commented on #435
You could give a try to override some application lifetime events of the WPF app (the class you implemented that inherit from Application) to bootstrap a IWebHost and configure the service like it is done there https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/NetCoreServer/Program.cs.

[2021-09-05 09:07] manuelelucchi commented on #435
I'll try, thanks!

[2021-09-06 19:36] IRebo opened #436 "usage of a custom IInstanceContextProvider"
Hi,

is there a way to use a custom implementation of IInstanceContextProvider ? It seems the property on DispatchRuntime is marked internal and i cant see another way to inject one. Is it not intentended to be able to use a custom one anymore ?

thanks
Ivan

[2021-09-07 14:37] manuelelucchi opened #437 "Improve error message when adding ServiceEndpoint to service builder for a service type which hasn't been added"
Hello,
while configuring a NetTcp binding using CoreWCF I get this really not useful exception. I tracked it and it should be thrown by aspnetcore. Since this is pretty much equal to the example you provide, I'm not sure which is the problem, so if you have any idea I would be happy to listen :D. Below I uploaded the startup, the webhost, the exception and even the stacktrace (TConnector is a gene

[2021-09-09 16:37] #196 closed

[2021-09-09 16:39] mconnew commented on #423
Closing issue as I believe I have provided the correct answer. Feel free to reopen if this didn't fix your issue.

[2021-09-09 16:39] #423 closed

[2021-09-09 16:40] mconnew commented on #428
Keeping open as we need to add tests for this scenario and fix any problems that arise. Marking as help wanted for the test writing aspect. You wouldn't be required to fix any problems discovered if not comfortable with that.

[2021-09-09 16:44] mconnew commented on #432
Closed as I believe the linked samples will help you get started. Feel free to reopen if you need more help, or open a new issue if you have a specific issue.

[2021-09-09 16:44] #432 closed

[2021-09-09 16:47] mconnew commented on #433
@DobrovAlexey, as this looks like a client problem and I've described what's happening, I'm going to close this issue. If you need more help with this, feel free to reopen and add any additional information you have.

[2021-09-09 16:47] #433 closed

[2021-09-09 16:52] mconnew commented on #435
Please try and let us know. There is a potential issue with the SynchronizationContext maybe not being captured to dispatch your service calls to the UI thread. In theory it should work, but that code hasn't been tested for CoreWCF. We need to add tests around that. Labeling as help wanted and good first issue for adding a WPF sample app.

[2021-09-09 16:56] mconnew commented on #436
This hasn't been made public yet. This is simply because we haven't written any tests for this api yet. Can you explain your usage scenario as most scenarios which use IInstanceContextProvider can use IInstanceProvider to achieve the same result and that's already available.

[2021-09-09 17:01] mconnew commented on #437
You're missing `builder.AddService<TConnector>();` before the `builder.AddServiceEndpoint` so CoreWCF doesn't know about the service type TService when trying to add an endpoint for it. The exception message could be improved to explain what the problem is here.

[2021-09-09 17:02] mconnew commented on #396
Closing as I believe 0.2.1 fixes the issue. Please reopen if that's not the case.

[2021-09-09 17:02] #396 closed

[2021-09-09 17:04] mconnew commented on #313
I believe this scenario is working now. If that's not the case, please reopen.

[2021-09-09 17:04] #313 closed

[2021-09-09 17:05] mconnew commented on #318
This has been merged and will be released as part of 0.3.0

[2021-09-09 17:05] #318 closed

[2021-09-09 17:51] IRebo commented on #436
From what I can see in the code (im trying to port a huge project of multiple applications and clients to .net core) the customization is done to support stateful/session based communication with a custom timeout handling/session expiration and keep-alive messages. It might be that all of this is also possible without overriding the provider but I don't have deep enough knowledge in this area. I g

[2021-09-09 18:00] mconnew commented on #10
Here's the steps that need to happen to port MTOM. The diff which contains all the code for the client is [here](https://github.com/dotnet/wcf/commit/3856a2e6ae0dfe9ea4f32493e7a9d46a42d11252).
1. Copy the following files to the primitives project changing namespace where needed:
  * src/System.Private.ServiceModel/src/Internals/System/Text/BinHexEncoding.cs
  * src/System.Private.ServiceModel/src/

[2021-09-09 19:07] g7ed6e commented on #10
Thanks @mconnew for détails. As discussed please assign to me.

[2021-09-09 19:46] mconnew commented on #436
Your scenario is one of the few which need this interface. There are other ways to achieve what you are trying to do as CoreWCF does session expiration a different way, but that would likely involve a lot of work and I wouldn't recommend changing to port. Would you be willing to submit a PR which makes the required internal -> public changes along with a unit test validating it works? That's the f

[2021-09-09 19:48] IRebo commented on #436
I will put it into our todo list and hopefully me or someone else in the team will have time to pick it up at some point. Thanks for the feedback !

[2021-09-10 05:54] manuelelucchi commented on #435
Yeah, I'll let you know for sure!

[2021-09-13 05:57] #129 closed

[2021-09-13 09:58] manuelelucchi commented on #437
Yeah, now it works, thanks!

[2021-09-13 14:21] BradBarnich commented on #428
this is what we are doing, and it seems to work well?
[code]

[2021-09-13 18:28] mconnew commented on #428
I'm glad that's working. I wrote everything for it to work that way, just hadn't written any validating tests. BTW, you can simplify your code a little by doing this:
[code]

If it's possible to make the Configure methods static, you don't need to instantiate an instance. You can just provide the method directly as a parameter as long as the signature matches.

[2021-09-13 18:46] mconnew commented on #437
I've edited the issue title to use this issue to track improvements to the error message

[2021-09-14 08:56] Kralizek commented on #437
@mconnew please don't take the following nothing more as a constructive feedback. If it sounds anything but that, blame it on me not being English native.

Is there any particular reason why both the service and its endpoints are applied directly to the builder? Probably a nested approach would have helped avoid cases like this.

I was imagining something like

[code]

Probably I miss some use cas

[2021-09-14 14:10] BradBarnich commented on #428
Thanks, I feel like I've been burned by other `.ConfigureXX`-like apis (not CoreWCF) that overwrite configuration instead of combine.

[2021-09-15 15:53] tapizquent opened #444 "InternalServiceFault when making a call to Service"
I am registering a service as follows,

[code]

and am getting the following error when trying to make a call to it:

[code]

I do see that the logs print out

[code]

So it does get registered.

I have also put breakpoints inside the service code and I notice that it never hits that endpoint

This service works as expected in the Net Framework version with the same call, thus I am assuming it is

[2021-09-15 18:10] tapizquent commented on #444
Closing as I found the actual issue.

Adding this
[code]
to the service allowed me to get an actual response with the exception rather than the generic `InternalServiceFault`

[2021-09-15 18:10] #444 closed

[2021-09-16 23:12] birojnayak opened #445 "Issues with ConfigurationManager"
1)When the service tag missing name, the service is ignored. @mconnew looking at WCF and suggest what should be alternative (generate unique id and add or others).
2)When the Service and Contract are coming from a reference project or assembly, the service and contract type are not resolved to appropriate type.

[2021-09-17 05:01] birojnayak opened #446 "Port Behavior and ServiceBehavior to CoreWCF.ConfigurationManager"

[2021-09-17 20:08] mconnew commented on #445
I took a look at the NetFx code and how ServiceEndpointElement.Name is used and Name wasn't meant to be a unique value. A valid snippet of config is the following:
[code]
They both have a null name, but are obviously different endpoints. We need to always generate an artificial name to use as the key in the dictionary and not use the name field of the endpoint. We can't key on just the address bec

[2021-09-18 21:17] birojnayak commented on #445
removed the dependency on name in the code

[2021-09-21 21:57] WenningQiu opened #451 "Allow access to ServiceHostBase when using CoreWCF.ConfigurationManager"
We have legacy applications that rely on adjusting/injecting behaviors of service endpoints loaded from configuration files. Some examples of the adjusted and injected behaviors are:

- Throttling parameters
- Binding parameters
- Metadata augmentation
- Injecting/extracting instrumentation, correlation and session information to/from the SOAP headers

Such behavior modification is possible with C

[2021-09-22 06:55] amarendra-k opened #454 "Does .Net framework WCF server compatible to CoreWcf client?"
Following is the configuration,
Server    -WCF  (.Net framework)
Client     -  Core WCF

If not how to make it work?

[2021-09-22 18:25] g7ed6e commented on #454
Hello @amarendra-k CoreWCF aims to migrate the server WCF code to .net core. Regarding client side WCF code in dotnet core app you should be able to use `System.ServiceModel.*` nuget packages that actually are netstandard2.0.

[2021-09-22 18:49] birojnayak commented on #445
closing as taken care by the fix

[2021-09-22 18:49] #445 closed

[2021-09-23 18:50] mconnew opened #459 "Update tests to use S.SM package version RC2 once released"
There's a bug in S.SM RC1 around caching of ContractDescription which required a workaround. We need to update to RC2 once it's released and remove the extra GC.Collect added in #450.

Discussion of this issue is [here.](https://github.com/CoreWCF/CoreWCF/pull/442#discussion_r712491578_)

[2021-09-24 17:30] Ximik87 commented on #164
@mconnew  Thanks for the detailed design and architecture guide, I will try to implement a prototype.

Comments for questions:

Do we need a mechanism to reject a message and/or place them in a dead letter queue? E.g. message Action was unrecognized so we can't dispatch it?
Dmitry: I think yes, you need to find out as soon as possible if you have problems sending a message. A similar pattern is us

[2021-09-24 22:13] mconnew commented on #454
@amarendra-k, the client project is https://github.com/dotnet/wcf so if you have any problems with the client, that's the correct place to open issues.

Closing as this isn't about CoreWCF.

[2021-09-24 22:13] #454 closed

[2021-09-30 06:14] shiiuand opened #463 "AddressingNone is not supported"
When I try to make a soap 1.2 service with custom binding below, it comes to an  exception  "Addressing Version 'AddressingNone (http://schemas.microsoft.com/ws/2005/05/addressing/none)' is not supported. (Parameter 'addressingVersion')".
Will this be supported?
Or how do I make a soap 1.2 http binding service without WS-addressing?

`
            var soap12HttpBinding = new CustomBinding();

[2021-09-30 16:20] A-Ovchinnikov-mx opened #466 "WCF Discovery"
Hi,

Is there currently any way to discover WCF services from a URL?

We use `DiscoveryClientProtocol` in .NET Framework but it's not available on .NET 5.

Is there another way to do discovery currently?

Thank you!

[2021-10-05 18:14] #375 closed

[2021-10-05 19:29] #10 closed

[2021-10-07 00:26] omaristalis commented on #234
net.tcp port sharing support?

I read https://github.com/CoreWCF/CoreWCF/issues/356 which is related, and there was a comment at the end that implied that there is something in the pipeline...

[2021-10-07 10:16] FreeAndNil commented on #200
@mconnew Could you take a look at the problem?

[2021-10-07 12:24] FreeAndNil commented on #200
@mconnew the issue was fixed by https://github.com/CoreWCF/CoreWCF/commit/6ee63ce1 #331
Thanks @birojnayak

[2021-10-07 12:24] #200 closed

[2021-10-07 13:15] Danielku15 opened #467 "Hosting Service without providing implementation class"
CoreWCF seem to require currently that we provide the class implementing the contract, but this is not always possible. It should be sufficient for CoreWCF to work on contract level, and depend on the DI system to provide the implementation.

Our use case is that our service implementation is not existing as actual class but it is a CastleProxy instance with interceptors.

In the old-fashioned Ser

[2021-10-07 14:10] Danielku15 commented on #467
Couldn't resist to write a test in the repo directly to have a closer look. Indeed my assumption was correct and with changing the mentioned code area, the usage of only interfaces seem to work.

[2021-10-14 14:13] JohnLeyva opened #472 "System.ServiceModel.FaultContractAttribute typeof(T[ ]) is generated as ArrayT instead of T in FaultResponse"
CoreWCF Is required to make it work, but svcutil generates System.ServiceModel

    [System.ServiceModel.ServiceContractAttribute(Namespace="http://my.com/service")]
    [CoreWCF.ServiceContractAttribute(Namespace = "http://my.com/service")]

// WCF Client does not catch it as a normal FaultException but not  FaultException<EchoFault>
                <EchoFault xmlns:xsi="http://www.w3.org/2001/XM

[2021-10-15 21:05] g7ed6e opened #476 "Scoped ctor dependencies have a singleton lifetime"
When registering service within DI, the underliying scoped lifetime dependencies have a singleton lifetime. I think this is due to the probe service resolution and the fact that next resolution are not performed in a dedicated `IServiceScope`.

[2021-10-19 10:51] JohnLeyva opened #477 "Addressing Version AddressingNone is not supported"
Addressing Version AddressingNone is explicitly not supported at the moment  by CoreWCF.

[code]

[2021-10-22 05:25] g7ed6e opened #480 "Introduce dependency injection of services from a custom parameter attribute in Service implementation"
Introduce a parameter attribute allowing to inject services from DI directly in Service implementation similar to  ASP.NET Core `[FromServices]` attribute.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.fromservicesattribute?view=aspnetcore-5.0

[code]

This would mean the customer ID comes in as part of the service call, and CoreWCF will fetch from the InstanceContext scoped

[2021-10-26 11:55] 0x53A opened #483 "CoreWCF breaks PathBase for the rest of the app"
the following middlewares are called inside _branch, before Path and PathBase are reset

![image](https://user-images.githubusercontent.com/4236651/138872273-5b78f84e-86ee-4bdf-bd5a-9305ed9cfdbe.png)

This is with CoreWcf version 0.3.1.1, which isn't the latest version, but the last change here was in march: https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Http/src/CoreWCF/Channels/Service

[2021-10-29 12:31] vladascibulskis opened #486 "ImpersonationOption.Required does not work in wsHttpBinding"
I'm trying to set   ` [CoreWCF.OperationBehavior(Impersonation = CoreWCF.ImpersonationOption.Required)]` attribute on one of the WCF service method.
I'm using wsHttpBinding set up as follows:
[code]

Getting following error:

I might be doing something wrong, but client works with other service created on .Net Framework, but does not work with CoreWCF (.Net Core 5).

Attached is a patch with unit

[2021-10-29 14:49] WenningQiu opened #487 "Flow of AsyncLocal<T> is broken in CoreWCF pipeline when the operation raises exception or fault"
The flow of `AsyncLocal<T>` in CoreWCF pipeline works fine in normal situations, but is broken when the called service operation raises exception or fault.

[code]

This bug may cause trouble to applications that use 3rd-party libraries which may be relying on `AsyncLocal<T>`. The good news is that most applications can use OperationContext to store data related to the operation.

[2021-10-30 18:54] g7ed6e opened #489 "Display SonarCloud badge in readme"
The SonarCloud analysis is not available.

https://sonarcloud.io/project/overview?id=CoreWCF_CoreWCF

edit: it would be great to get code coverage metrics to measure test coverage progress and spot potential weakness

[2021-10-30 19:01] g7ed6e opened #490 "Missing FaultString’s `xml:lang`"
I checked WCF behavior and it output this attribute.

It seems that starting from netcoreapp3.1 on linux only, the serialization of the faultstring does not output the `xml:lang` attribute.
[code]

see https://dev.azure.com/dotnet/CoreWCF/_build/results?buildId=60058&view=logs&j=ce7f1b94-9c36-52ca-aaa0-6a89018eeb60&t=dc46acd6-af92-576a-ea1c-f197aebd2dbc&l=963

_Originally posted by @g7ed6e in http

[2021-11-01 03:29] kasajian opened #491 "nettcp sample missing"
Looks like the included samples are only for HTTP.  Are there any examples for nettcp

[2021-11-02 12:03] FreeAndNil commented on #491
see
https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/StandardClient/ClientLogic.cs
https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/DesktopServer/Program.cs

[2021-11-02 15:21] g7ed6e commented on #480
I'm starting to work on the source generator / analyzer option. It should be interesting.
@mconnew How would you want to distribute the source generator and the analyzer. Should both of them be distributed with `CoreWCF.Primitives` nuget package ?

[2021-11-03 01:10] mconnew commented on #480
Yes, they should be distributed in the CoreWCF.Primitives package. As it's a build time tool, it won't increase the application footprint at runtime. It will need to be a separate project which is referenced by the Primitives build but won't produce its own package.

[2021-11-03 07:51] jeroen-cordfunke opened #492 "IDispatchMessageFormatter is internal"
In the namespace CoreWCF.Dispatcher, there is an interface defined called IDispatchMessageFormatter. In WFC this interface is public, in CoreWFC this interface is internal. This makes it impossible to implement IDispatchMessageFormatter in our code. Can this member be made public?

[code]

[2021-11-04 02:17] mconnew commented on #492
The general policy is if we don't have a test, it's not considered working so will usually be internal. In 99% of cases, just making it public is all that's needed. Would you be able to submit a PR to make this public as well as the api where this is set and write a simple unit test to validate it. Obviously the message formatter functionality is working otherwise CoreWCF just wouldn't work, it's

[2021-11-04 08:33] jeroen-cordfunke commented on #492
I'm new to github, but I will give this a try, hopefully tomorrow.

[2021-11-04 18:34] mconnew commented on #492
If you need any help or get stuck with something, feel free to ask. Here's the general flow I use.
1. Fork the repo into your own account. There's a button at the top right. My fork then has the url https://github.com/mconnew/CoreWCF.git
2. Clone my fork locally. So for me that was running `git clone https://github.com/mconnew/CoreWCF.git`
3. I then add this main repo as an upstream repo. So chang

[2021-11-09 00:32] #476 closed

[2021-11-09 19:18] #459 closed

[2021-11-09 19:54] #483 closed

[2021-11-09 19:55] #181 closed

[2021-11-11 17:31] mconnew commented on #487
These aren't async methods so it doesn't make an effort to flow values through. You can return correlated state in the AfterReceiveRequest method and it gets passed as a parameter to BeforeSendReply. You can do this:
[code]

[2021-11-11 17:31] mconnew commented on #487
Closing as I believe this solves your problem. Feel free to reopen if that's not the case.

[2021-11-11 17:31] #487 closed

[2021-11-11 17:39] mconnew commented on #491
@kasajian, as @FreeAndNil has linked to the samples for NetTcp, it looks like your question has been answered so I'm going to close this issue. If you have more questions, feel free to reopen.

[2021-11-11 17:39] #491 closed

[2021-11-12 16:59] WenningQiu commented on #487
I disagree @mconnew.

I understand that there are other ways to tunnel correlation objects, but that does not justify breaking the flow of AsyncLocal<T> objects. Using other mechanisms may not be an options when third-party assemblies depend on AsyncLocal<T>.

[2021-11-12 18:52] BradBarnich commented on #487
does this work on full framework WCF? I expect not, because there is not guarantee of being on the same thread context, which is why you are given the state object as part of the api.

[2021-11-15 03:09] WenningQiu commented on #487
@BradBarnich It works on WCF (.NET Framework).

In fact our applications have to use `AsyncLocal<T>` on WCF since the service operations await on async methods, in which case WCF OperationContext becomes broken. CoreWCF behaves the opposite way - the OperationContext flows with async methods, but `AsyncLocal<T>` is broken when exception or fault is raised.

Our applications have no problem choosin

[2021-11-15 20:40] JeffLeBert opened #496 "Make the DispatchOperation.CallContextInitializers property public"
In WCF, this property is public. This will also force the `ICallContextInitializer` interface to be made public.

For the product I work on, we use the `ICallContextInitializer` `BeforeInvoke` and `AfterInvoke` methods to configure call specific information for each call.

I've already tested this in our product and it works. I will try to write unit tests for where this is used in the `DispatchOp

[2021-11-15 21:35] JeffLeBert commented on #496
Advice needed... I'm trying to write a unit test to verify that the `BeforeInvoke` and `AfterInvoke` interface methods are called. I was unable to find any public method I could call that would hit these methods without going through a significant amount to other code first. This would make the test very difficult to write and very fragile.

When I come up against this, I commonly make the method

[2021-11-15 22:02] JeffLeBert opened #497 "Make the ServiceSecurityContext.GetIdentities method public"
In WCF, this method is public.

For the product I work on, we use this method in our own AuthorizationManager. For now, I've copied the code from the private method into our own project as all the information it uses is public. The code duplication is less than optimal.

This looks like a pretty simple thing to fix, write unit tests for and submit a pull request, so I will give that a shot.

[2021-11-16 01:39] mconnew commented on #487
@WenningQiu, things are a lot more complicated and limited with AsyncLocal than they appear on the surface. But before I get into that, you can enable OperationContext async flowing in WCF, but it breaks at least one scenario so it's a "use at your own risk" type of switch. I've done as much due diligence as I can to see if there are other scenarios and couldn't find them, but I can't say 100% the

[2021-11-16 22:58] JeffLeBert commented on #496
I decided to just submit a pull request without unit tests.

[2021-11-17 23:26] WenningQiu commented on #487
@mconnew Thanks for explaining the implementation details. I have noticed and understand the one-way (from caller to callee) flowing characteristic of `AsyncLocal<T>` objects, however I still feel fuzzy about if/how it applies to this particular issue regarding CoreWCF pipeline.

In the example that I originally posted, the value (9999) set in AfterReceiveRequest() is still retained and visible in

[2021-11-18 00:41] mconnew commented on #487
An exception is caught one method higher in the callstack. So semantically it would look like this (the code is a lot more involved, but this is representative):
[code]
When you don't have an exception, the call to CallAfterReceiveMessageInspectors in ProecessRequestAsync as in the same ExecutionContext scope as CallBeforeSendReplyMessageInspectors. Any changes made in CallAfterReceiveMessageInspe

[2021-11-18 04:54] WenningQiu commented on #487
That makes sense @mconnew, thanks for the explanation.

I noticed that both CallAfterReceiveMessageInspectors() and CallBeforeSendReplyMessageInspectors() are regular methods. Perhaps it is possible to achieve more consistent behavior by calling them directly from HandleRequest(), instead of wrapping them in async methods ProcessRequestAsync() and ProcessErrorAsync(). The change will require split

[2021-11-18 05:31] mconnew commented on #487
The actual implementation code is a lot more complicated than that. As I mentioned, the code would be fragile to future refactoring. Refactoring the code to support a scenario which works by coincidence in some cases to have it work all the time would be turning this into a supported feature. That's a bad idea as AsyncLocal isn't intended to be used this way and it's encouraging wrong usage patter

[2021-11-18 05:37] smohanty05 opened #501 "While browsing svc getting ProtocolException"
Hi,
I am trying a simple sample method in .net5. From Visual Studio, while viewing in browser, getting below error
http://localhost:8750/MyService/MyService.svc

An unhandled exception occurred while processing the request.
XmlException: The body of the message cannot be read because it is empty.
Unknown location
ProtocolException: There is a problem with the XML that was received from the network

[2021-11-22 19:23] petersladek commented on #501
Same issue here. I know generating metadata is not implemented yet. In the meantime it would be better if HTTP GET operations returned HTTP 405 Not Allowed instead of HTTP 500 internal server error.

[2021-11-23 12:54] smohanty05 commented on #501
Thanks for sharing this information.

[2021-11-23 13:20] petersladek commented on #501
Btw I managed to get it working by bypassing CoreWCF middleware. Just add following in Configure() right before app.UseServiceModel().

` app.MapWhen(context => context.Request.Method == "GET", app =>
  {
      app.Run(context =>
      {
          context.Response.StatusCode = StatusCodes.Status405MethodNotAllowed;
          return Task.CompletedTask;
      });
  });`

[2021-11-28 19:09] absinghal opened #504 "GetKnownTypes for dynamic known type list"
WCF in .Net framework had an overload for ServiceKnownType as follows:

[code]

This allowed to dynamically generate list of known types.

Is there any way to achieve this ? If not, when is this planned ?
Coz this is looking like a showstopper.

Thanks

[2021-11-29 08:27] Danielku15 commented on #270
@mconnew Anything the community might be able to help you on this topic?

[2021-11-29 22:35] mconnew commented on #270
At this stage, no. Once I have something working, throwing every contract and service at it and verifying the outcome against what's expected will be the most help. Contributing a test library of contracts, bindings, and expected WSDL's is really useful. Unfortunately this is a big chunk of work which is an all or nothing. Nothing works without every piece, and very little is testable in isolation

[2021-11-30 18:45] #472 closed

[2021-11-30 20:35] mconnew opened #505 "Improve DI validation using IServiceProviderIsService"
There's a new interface in .NET 6 platform extensions called [IServiceProviderIsService](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.iserviceproviderisservice?view=dotnet-plat-ext-6.0) that is able to interrogate DI and tell you whether a type is available via DI. This would greatly simplify the logic at startup to see if the type is in DI or if the legacy

[2021-11-30 20:39] #467 closed

[2021-12-01 05:35] g7ed6e opened #506 "Add support to convert explicit HasProtectionLevel.None in compat code"
I've seen contracts set ProtectionLevel but set it to None. Some people like to explicitly set everything. In that case, it would be safe to do the mapping. Could you modify the logic here to only throw if it was set to anything other than None?

_Originally posted by @mconnew in https://github.com/CoreWCF/CoreWCF/pull/488#discussion_r758804618_

[2021-12-01 05:42] g7ed6e opened #507 "Add support to inject ASP.NET Core implementations in OperationContractParameterInjectionGenerator"
I took a look at the aspnetcore implementation around this and discovered they support a few other things which aren't available from the IServiceProvider but that we might want to add support for. The code is [here](https://github.com/dotnet/aspnetcore/blob/f58f9dcf1c10345a4fa44bbeea4777efd3b0d407/src/Mvc/Mvc.ApiExplorer/src/EndpointMetadataApiDescriptionProvider.cs#L242) and they have additional

[2021-12-01 05:59] g7ed6e commented on #505
@mconnew  what do you think about adding a roslyn analyzer that probe the existence of the new API in referenced assemblies
using the semantic model and then report an appropriate diagnostic, either a build break or just a warning.

[2021-12-01 10:43] absinghal commented on #504
In the source at [this](https://github.com/CoreWCF/CoreWCF/blob/5408657365fe03de44dc236479bfe0b215871aad/src/CoreWCF.Primitives/src/CoreWCF/Description/TypeLoader.cs#L382) location, following remark is given and relevant code is commented:

"// The named method must take a parameter of ICustomAttributeProvider which isn't available so this can only specify known types by Type"

ICustomAttributePro

[2021-12-02 02:05] mconnew commented on #504
That comment is a holdover from very early .NET Standard days when that interface wasn't available. It wasn't the reason why that overload wasn't supported though. It was because this code was originally ported for UWP apps running on .NET Native which didn't allow reflection and dynamically calling of methods. This can definitely be re-enable. I'll take a look later to see how much work this will

[2021-12-03 21:49] mconnew commented on #504
I took a look and here's the steps that need to be done to enable this.
1. Uncomment the disabled properties in ServiceKnownTypeAttribute and fix (just turn into getter only auto properties)
2. Modify CustomAttributeProvider.GetCustomAttributes to also know about ServiceKnownTypeAttribute. This is to provide compat with System.ServiceModel namespaced version of attribute. This will require a new m

[2021-12-03 21:56] mconnew commented on #505
@g7ed6e, I think that's overkill for what's needed. Nuget allows you to inject a props and a targets file into a project. If we want to trigger a build time failure, we can add a target which checks for the Microsoft.Extensions.DependencyInjection package in the resolved package references and fails the build if it isn't at least 6.0.
Although that seems like a lot of work for a potential point in

[2021-12-03 22:02] mconnew commented on #501
This is exactly the problem, there's no code in there to handle this case yet. I think normally you would get a bad request response from WCF as the method isn't supported without the metadata stuff. I'm currently working on adding WSDL support, so I'll add this to the things I need to fix, making sure we return a response consistent with what WCF currently returns when metadata hasn't been enable

[2021-12-04 08:56] #489 closed

[2021-12-05 16:14] absinghal commented on #504
I can try.

Code changes are [done](https://github.com/absinghal/CoreWCF/commit/e896d2704dfc2f44ea965a5ade3db4ce361a6177) as per above. Only proposed change is that constructor and property setters of ServiceKnownTypeAttribute are internal to enable ConvertFromServiceModelServiceKnownTypeAttribute.

Regarding tests, pl advise whether a new file ServiceKnownTypeTests.cs can be created at [this](htt

[2021-12-05 17:49] absinghal commented on #504
On a related note, during modification of code, it looks like whole of CustomAttributeProvider.cs is a holdover from very early .NET Standard days when ICustomAttributeProvider interface wasn't available.

I tried to remove it and with some help from referencesource, the solution seems to be compiling fine without any issues.

Should this be committed as well ?

[2021-12-05 18:48] absinghal commented on #504
Found some other places where CustomAttributeProvider can be replaced with ICustomAttributeProvider, but looks like CustomAttributeProvider will be anyway required to let both CoreWCF and System.ServiceModel attributes be used, so have left them untouched.

[2021-12-07 14:08] amiyol commented on #367
Hi @HongGit , implemented the change + tests as you suggested (took me a while to get to it).
Seems that some of the checks failed, but it looks to be related to the azure pipeline.
I'm new to GitHub, and I have no idea how to fix this or rebuild (I probably don't have the permissions for it).
Can you tell me what should I do?
Thanks.

[2021-12-07 14:09] amiyol commented on #367
PR: https://github.com/CoreWCF/CoreWCF/pull/512

[2021-12-08 09:34] cyanite opened #513 "ICallContextInitializer is internal"
ICallContextInitializer and the related properties to set them, are internal.

I am working on a pretty large project with a lot of legacy code, and we decided to try to port our server-side WCF to CoreWCF, while porting to .NET 5 (eventually 6). We use ICallContextInitializer to set up some AsyncLocal state coming from the client, on the server side.

Now, it's most likely possible to make a work

[2021-12-08 09:51] dioptryk commented on #513
Thumbs up, we need this also.

[2021-12-08 18:55] JonathanHopeDMRC opened #514 "WebOperationContext and WebFaultException"
I am in the process of evaluating the difficulty in migrating a WCF project to a WCFCore project. The project makes extensive use of classes that start with Web like WebOperationContext  and WebFaultException.

Are there plans to bring these over to CoreWCF, or should I plan to port those myself?

Thanks,
Jonathan

[2021-12-09 02:47] mconnew commented on #514
WebOperationContext was designed for use with WebHttpBinding which is for REST services. It can be used with other http bindings as a convenient helper to read incoming or modify outgoing HTTP Headers, or HTTP Status code etc, but it's not needed as it's just a helper around fetching HttpRequestMessageProperty and/or HttpResponseMessageProperty from the OperationContext.

If you are using WebHttpB

[2021-12-09 02:53] mconnew commented on #504
Yes, a new ServiceKnownTypeTests.cs can be created. Feel free to open a draft PR so that you can get some feedback before you are complete if you would like. I'm happy with reducing the usage of CustomAttributeProvider and relegating it to only being used to get custom attributes including the converting System.ServiceModel variations to CoreWCF ones. I think we could get away with turning it into

[2021-12-09 17:31] JonathanHopeDMRC commented on #514
We are indeed using WebHttpBinding and attributes like WebInvoke.

I certainly understand the position that there are other frameworks for REST services on ASP.NET Core. However moving a large, old project  to a completely different framework is very labor intensive. Additionally being fully confident that it is behaving exactly the same as it was on the previous framework is very tricky.

If supp

[2021-12-09 18:12] #480 closed

[2021-12-13 16:17] JonathanHopeDMRC commented on #514
I'm not opposed to that at all, but I'll need to get some buy in from my employer. I'll let you know if we end up going this route. Thanks for all your help!

[2021-12-13 19:14] g7ed6e commented on #507
@mconnew I thought to this and I wonder if we should rather pull the HttpContext from the ServiceProvider using IHttpContextAccessor.

[2021-12-14 10:07] bstordrup opened #518 "WSHttpBinding_WithDefaultSetting() test failing on .NET Framework"
The `WSHttpBinding_WithDefaultSetting()` test is failing with a `PlatformNotSupportedException` exception when executing the test on Windows. I'm running on Windows 10 version 21H1, 64 bit.

Debugging the test narrows me down to the `MessageSecurityOverHttp.ClientCredentialType` setter, where an exception is being trown if the `MessageCredentialType` is `Windows`, and the `RuntimeInformation.Frame

[2021-12-14 21:19] mconnew commented on #518
This is because when using Windows credentials, we need to make calls into the SSPI (on Windows)/GSSPI (on Linux) libraries to do the Negotiate authentication. There is an internal class in .NET Core/.NET which is stable that we call using Reflection. It provides a common managed wrapper around these two similar native api's. This allows us to not carry an implementation which makes native P/Invok

[2021-12-14 21:21] mconnew commented on #514
I'm going to close this issue for now. If that is a route you wish to take, please reopen the issue and mention me in a comment.

[2021-12-15 06:14] absinghal opened #519 "Dataset Serialization with column type GUID"
When serializing a dataset that has table with column type GUID, xml like following is generated

[code]

This fails to deserialize on the NETFX 472 client side, probably because there is no System.Private.CoreLib, Version=6.0.0.0 over there.

Any workarounds ?

[2021-12-15 18:58] mconnew commented on #513
Closing as duplicate of #496

[2021-12-15 18:58] #513 closed

[2021-12-15 19:37] bstordrup commented on #518
So it is a binding like the one below that is not possible to handle with CoreWCF and .NET5/6?

`
<wsHttpBinding>
	<binding name="windowsAuthenticationBinding">
		<security mode="Message">
			<message clientCredentialType="Windows" />
		</security>
	</binding>
</wsHttpBinding>
`

but a binding like this will work:

`
<wsHttpBinding>
	<binding name="customAuthenticationBinding>
		<security mode="Me

[2021-12-16 07:37] bstordrup commented on #234
System.ServiceModel namespace has a ServiceHost class that derives from System.ServiceModel.ServiceHostBase. I can see in the CoreWCF source that it implements a ServiceHostBase class, but for easing migration of existing projects from old WCF to CoreWCF, I think implementing a ServiceHost class would be good.

[2021-12-16 07:39] bstordrup commented on #234
System.ServiceModel namespace has a generic ClientBase<T> that is used for implementing a WCF service client. A similar class would be good to have in CoreWCF to ease migrating existing projects from old WCF to CoreWCF

[2021-12-16 08:18] mconnew commented on #518
That binding won't work because you are specifying security mode Message, which can't currently be supported due to missing a security dependency. We do support TransportWithMessageCredentials though. CoreWCF supports client credential types of Windows and UserName among others.

The client piece is the System.ServiceModel.* nuget packages, the repo is at https://github.com/dotnet/wcf. That doesn'

[2021-12-16 08:42] bstordrup commented on #518
So the CoreWCF is the server part? Or does System.ServiceModel.* packages also contain the ServiceHost part? Or do I completely misunderstand these things?

[2021-12-16 08:58] mconnew commented on #518
CoreWCF is the server part. There is no ServiceHost any more, it doesn't make sense as ASP.NET Core is the host.  [This blog post](https://corewcf.github.io/blog/2021/02/19/corewcf-ga-release) might help you understand a bit more.  The concepts have been kept the same, just different but similar api's to achieve it.

[2021-12-16 09:03] bstordrup commented on #518
OK. So instead of putting ServiceHost class into CoreWCF, the way to go would be either to change our use of ServiceHost to ServiceHostBase or to implement a ServiceHost ourselves to avoid changing our actual ServiceHostDerived classes.

[2021-12-20 13:50] oakdemirci opened #525 "NetCoreServer with Postman status 404"
Hi, thanks for the project. I downloaded the code and try to run samples->NetCoreServer project with Postman. .Net Core 3.1
But I get 404 for sample **CoreWCF NetCoreServer Sample Request (SOAP 1.1)** request.

I also tried to import my legacy code,
I got the request ( I can log and view the soap message) but cannot continue, The request is lost. I think I could not complete the binding part...

T

[2021-12-20 20:18] oakdemirci commented on #525
I ran the sample basichttp, now It's time for wsHttp.

[2021-12-20 20:40] birojnayak commented on #525
@oakdemirci are yu still facing issue with Postman ?

[2021-12-20 21:36] oakdemirci commented on #525
I have difficulty sending wshttp message... If you have a working sample, I'll appreciate...
At first I'm trying to send an wshttp Echo message,
Then I'll send a complicated mtom message to my service. Thanks.

[2021-12-21 13:50] oakdemirci commented on #525
With WsHttp binding endpoint, my postman call returns 202 Accepted...
There is a log in ouput.
**Exception thrown: 'CoreWCF.FaultException' in CoreWCF.Primitives.dll**

[2021-12-21 15:10] oakdemirci commented on #525
FaultException with WsHttpBinding is "The message with Action 'Echo' cannot be processed at the receiver, due to a ContractFilter mismatch at the EndpointDispatcher. This may be because of either a contract mismatch (mismatched Actions between sender and receiver) or a binding/security mismatch between the sender and the receiver.  Check that sender and receiver have the same contract and the same

[2022-01-03 18:03] sdesmarteau commented on #361
Hello, have there been any updates on this effort? Thanks!

[2022-01-03 21:49] mconnew commented on #361
There hasn't. It would require adding support for a Composite binding (it binds together 2 one-way channels, one is input only, the other is output only, and creates a duplex channel out of them). It's going to be a while due to higher demand features. You could potentially do it by hand if you specified a custom ReplyTo address on the client and stood up a CoreWCF service at the address which has

[2022-01-04 14:59] cyanite opened #526 "Exception when exposing multiple contracts with same address (listen URI)"
This was possible in old WCF, and it seems to be a bug in `DispatcherBuilder.cs`, in the `InitializeServiceHost` method. We have:

    // Ensure ListenUri and group endpoints per ListenUri
    for (int i = 0; i < description.Endpoints.Count; i++)
    {
        ServiceEndpoint endpoint = description.Endpoints[i];

        ListenUriInfo listenUriInfo = GetListenUriInfoForEndpoint(serviceHost, endpoi

[2022-01-04 16:00] cyanite commented on #526
I have confirmed that my PR fixes the problem. My WCF code now runs normally :)

[2022-01-04 19:55] mvarblow commented on #234
### Improve support for ASP.NET 3.1, 5, and 6.

ASP.NET 2.1 has reached end of support. Drop support for ASP.NET 2.1 and improve support for ASP.NET 3.1, 5, and especially 6.

For example, these backward compatibility settings shouldn't be required when using CoreWCF in a new ASP.NET project:

[code]

[2022-01-05 15:35] maloo opened #528 "Failed to run the NetCoreServer sample"
I get the following error when starting the sample (dotnet run) and navigate to https://localhost:8443/EchoService/wsHttp?WSDL

Same with http, w/ or w/o ?WSDL. What is the link to WSDL description and "mex" endpoint in OpenWCF?

[code]

[2022-01-06 12:37] KaNarlist opened #529 "OperationContext.Current is null"
Hi, I'm trying to migrate a .Net Framework 4.8 WCF service to .Net 5.0 and CoreWCF. One problem I ran into is, that OperationContext.Current is null in my service methods. We use it to access OperationContext.Current.RequestContext.RequestMessage.Headers where the client added some custom headers.

It doesn't matter wether I host the service in Kestrel or IIS Express.

Is OperationContext.Current

[2022-01-07 03:51] mconnew commented on #529
You are probably using the System.ServiceModel version of OperationContext. You need to switch to using the CoreWCF namespaced version.

[2022-01-07 07:34] KaNarlist commented on #529
You are of course correct. Don't know how I've missed that. Thank you!

[2022-01-07 07:34] #529 closed

[2022-01-07 21:46] cyanite opened #530 "NetTcp binding: NullReferenceException on the server when using wrong end point address on the client"
I accidentally used "IFoo" instead of "Foo" in the service URL on the client (something like "net-tcp://localhost/Some.Namespace.IFoo"), and it didn't work, since the endpoint was exposed with "Foo". After debugging, I see that it throws a NullReferenceException on the server. This happens in `NetMessageFramingConnectionHandler.cs`, in the method `BuildHandshake`. It calls `GetServiceHandshakeDele

[2022-01-08 02:46] mconnew commented on #530
You're right, that is a bug. There's a special endpoint not found sequence the service needs to send back to the client. It's not a SOAP message, it's part of the NetMF Framing protocol. The approach I would take is to have a default handler which does this that GetServiceHandshakeDelegate would return instead of null. If you need help finding the code which sends back that byte sequence, let me k

[2022-01-08 12:14] cyanite commented on #530
I created a pull request. No tests yet, but a take on the implementation. It works for me in local testing; I now get correct faults on the client.

[2022-01-08 12:21] cyanite commented on #526
Pull request updated with a test.

[2022-01-12 02:10] mconnew commented on #270
For anyone watching this issue, I'm about to commit a large amount of code to the feature/wsdl branch to enable contribution of tests. There's a lot of cleanup I need to do in the code, and need to modify the api a little to allow providing a url to expose the metadata page on. But that shouldn't affect the ability to provide tests as I've abstracted all of that away in the 2 initial tests I've cr

[2022-01-12 14:22] KaNarlist opened #533 "Dependency Injection in services"
I saw some issuses talking about Dependency Injection, but I'm not sure if what I am trying to do is supported by Core WCF or not.
Basically I want to inject something into my services. My Startup class looks like this:

[code]

CustomerService has one contructor that expects one parameter of IDataAccessFactory. If I call AddSingleton for CustomerService  everything works as expected. But if I don

[2022-01-12 18:36] mconnew commented on #533
This is expected behavior. WCF on .NET Framework has the constraint that if you don't supply a service instance and instead pass the type of your service instance, that type must have a default constructor. So if you were using WCF on .NET Framework you would need a default constructor.
In CoreWCF we've added the support to check DI first to see if we can get the service instance from there. If we

[2022-01-12 20:01] #507 closed

[2022-01-13 07:12] KaNarlist commented on #533
Thank you for your in depth reply. Yes I have around a dozen services currently, with new ones being added regularly. I thought about a reflection based solution too, if it's not working out of the box. But I'm not sure if it's overkill. Having to add the service manualy to DI is not nice, but it's not a big problem either and I can live with it for now.

Thanks for the credentials tip too!

[2022-01-13 07:12] #533 closed

[2022-01-13 08:53] Kralizek commented on #533
@KaNarlist you could look at Scrutor. It's a library that adds scanning capabilities to Microsoft.Extensions.DependencyInjection

https://github.com/khellang/Scrutor

[2022-01-13 12:17] KaNarlist opened #535 "WSHttpBinding with Windows Authentication not working"
I hope this is the last one to bugger you with. I'm trying to get Windows Authentication working for a Single Sign On use case, but I always get a SecurityNegotiationException in the client.

In the original .Net Framework WCF application each service has two endpoints configured and one of them uses this binding:

[code]

my test client basically looks like this

[code]

If I call a service metho

[2022-01-13 17:28] #477 closed

[2022-01-13 17:35] mconnew commented on #490
I need to follow up with runtime about the change in behavior in .NET Core 3.1+ on Linux only.

[2022-01-13 17:37] #496 closed

[2022-01-13 17:45] mconnew commented on #519
Unfortunately there's nothing that can be done in CoreWCF. You could potentially write a data contract surrogate, but I'm not sure how much work that would be for you. Ultimately it's down to an individual class to ensure it's serializable in a backwards compatible way if the class is intended to be serialized. This is an issue with how Dataset is serialized, it embeds the fully qualified assembly

[2022-01-13 17:45] #519 closed

[2022-01-13 17:51] mconnew commented on #528
You are requesting the wsdl, which support for hasn't been released yet. Support for this is being tracked in #270. There's details in that issue about adding tests for known scenarios. If you want to make sure your scenario works when this is released, I would suggest either giving the code a try in the feature/wsdl branch , or preferably contributing some tests if possible.
I'm closing this issu

[2022-01-13 17:51] #528 closed

[2022-01-13 17:55] mconnew commented on #535
Because the serializers write to streams synchronously, you need to enable synchronous IO in ASP.NET Core. You can see an example of this [here](https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Http/tests/Helpers/ServiceHelper.cs#L144). Closing this issue as I believe this addresses your problem. If it doesn't, feel free to reopen.

[2022-01-13 17:56] #497 closed

[2022-01-13 18:01] mconnew commented on #486
Notes for when this is addressed. The fix is to retrieve the WindowsIdentity from ASP.NET Core and create a ServiceSecurityContext to add to the incoming message which holds the WindowsIdentity. So we need code in the HTTP middleware which does this when security mode is transport and the credential type is Windows.

[2022-01-13 18:13] #437 closed

[2022-01-13 18:19] mconnew commented on #437
@Kralizek, I just notived your question with regards the api shape. It basically comes down to the fact that I designed the api working on this project on my own with zero external feedback. I created something which works and mirrors the self hosted WCF code reasonably well with the idea to come back and improve it later. Then I got approval to release my prototype and it never got improved as it

[2022-01-13 18:26] mconnew commented on #535
I just realized I miss read some of your issue. You are double authenticating, at the transport layer and message layer. We just identified when triaging #486 that we aren't populating the ServiceSecurityContext for transport security and Windows authentication. I believe that this should be working with message authentication. Can you try with message auth only (with TransportWithMessageCredentia

[2022-01-14 01:17] Kralizek commented on #437
Thank you for your answer and your work here!

[2022-01-14 07:51] KaNarlist commented on #535
When I change the binding to message only:

[code]
I get an PlatformNotSupportedException in app.UseServiceModel(..).

This happens because of this call in WSHTTPSecurity::CreateMessageSecurity:

` return _messageSecurity.CreateSecurityBindingElement(Mode == SecurityMode.TransportWithMessageCredential, isReliableSessionEnabled, version);    `

If the first parameter is false CreateSecurityBindingE

[2022-01-14 10:49] KaNarlist commented on #535
If you are interested, I created a simple test solution here https://github.com/KaNarlist/WinAuthTest

[2022-01-14 16:45] mconnew commented on #535
We don't support message security yet. You can use TransportWithMessageCredentials. It will use HTTPS to secure the communication whereas Message security encrypts the actual SOAP message itself. The practical difference in security is with full Message security you can store the raw message that's sent, eg in a SQL database, and the message can't be read except by the intended recipient. That isn

[2022-01-20 16:47] Danielku15 commented on #270
@mconnew Just gave it a quick shot to use CoreWCF with one of our internal SOAP services. Replaced our ServiceHost with a WebHost using a local build of CoreWCF using `feature/wsdl` + added `System.Web.Services.Description` package reference. After some small mistakes from my side at the beginning which I was able to solve looking at the unit tests the service came up as expected. The help website

[2022-01-20 22:28] mconnew commented on #270
@Danielku15, I finally had to get around to fixing the base address issue. Because of how ASP.NET Core handles mapping to a sub path, you don't find out what that sub path is until you get the request, and WCF (which CoreWCF came from) has a dependency on knowing that path when building the dispatcher. It's going to take a lot of work and refactoring to change that requirement. So I finally wired

[2022-01-21 09:23] Danielku15 commented on #270
@mconnew Thanks for diving into this topic. I also just quickly looked into the source of this "wrong" URL and I saw that it is computed here:
https://github.com/CoreWCF/CoreWCF/blob/25cde9ca34c740ac55f9f6f1ac5372a10fb31a4c/src/CoreWCF.Primitives/src/CoreWCF/Description/ServiceMetadataBehavior.cs#L243

It only asks the `host` for the URL while it likely should also respect the `description.Endpoin

[2022-01-21 10:58] marlon-tucker opened #537 "ServiceContract inheritance results in ArgumentException (Duplicate dictionay key)"
Hello,

Our existing WCF codebase has an external API and an internal API. The internal API inherits from the external API to provide some additional operational contracts.

Converting this architecture to CoreWCF has resulted in an ArgumentException being raised from the following code block when adding to the dictionary.

https://github.com/CoreWCF/CoreWCF/blob/c370e8661bb25018e7631bb33a47ee7bf4

[2022-01-21 21:13] mconnew commented on #270
@Danielku15, that's not a workable option. If you compare it to WCF, you might have a service with a base address `http://localhost/services/MyService.svc` with 2 endpoints defined. You could have an endpoint defined with the address  `"BasicHttp"` resulting in the url `http://localhost/services/MyService.svc/BasicHttp`, and a second endpoint defined with the address `"WsHttp"` resulting in the ur

[2022-01-24 20:15] mconnew commented on #537
Can you give an example of how your contracts look? It doesn't need to be your real contract, just have similar properties. For example, if both contracts have a method with the same name, or same name and parameters, do the same in the example. Basically, I'm looking for a trivial contract which fails in the same way. There's too many ambiguities in your description for me to narrow down the scen

[2022-01-24 20:31] mconnew commented on #535
I said:

`TransportWithMessageCredentials` means the secrecy and tamper detection is handled by the transport (so goes over HTTPS), but the client credentials are sent using a WS-Security security token. When you use security mode `Message`, this means the SOAP message itself is encrypted and signed. If someone were to look at the data sent to the service, they would see it's a SOAP message, but a

[2022-01-24 21:29] mconnew commented on #514
Do you use gitter? We can IM directly on gitter to set up a meeting. The CoreWCF channel is https://gitter.im/CoreWCF/CoreWCF and my username for direct message is the same there as it is on github.

[2022-01-25 08:09] KaNarlist commented on #535
I see. Currentley this isn't a priority for us because our client doesn't provide a way to connect your user account to your windows account and thus customers can't use it anyways. So I think it's enough for us to know, that this will probably work in the not all too distant future.

If not, I might come back to you regarding those pointers ;)

[2022-01-25 14:49] marlon-tucker commented on #537
Sure no problem.

[code]

[code]

Exception occurs when `app.Run()` is executed.

[2022-01-29 00:43] samsp-msft opened #541 "[Visual Studio] Project Templates for CoreWCF"
There is a bit of a chicken and egg issue with templates, but the net story as of this moment is that templates installed via `dotnet new install <package.id>` will show up in VS once they are installed. Instructions for creating templates are at https://github.com/sayedihashimi/template-sample.

* CoreWCF should have a nuget package with project & item templates in it.
* Those templates can then

[2022-01-29 08:26] absinghal commented on #396
Getting the following error when hosting on IIS
[code]

I am using a IIS site binding with hostname as follows
`*.edu.qa.appsnirvana.com`

I believe error is coming from [this](https://github.com/CoreWCF/CoreWCF/blob/c370e8661bb25018e7631bb33a47ee7bf465a4a6/src/CoreWCF.Primitives/src/CoreWCF/ServiceHostObjectModel.cs#L259) line of code

Uri constructor does not recognize *.

As a workaround, we ca

[2022-01-29 11:37] absinghal commented on #396
@mconnew have implemented like below and seems to be working fine.

https://github.com/absinghal/CoreWCF/commit/dda3eedd73c4973a7a77bad79b9cd4ef5d06e6f2

[2022-02-03 22:23] birojnayak commented on #541
this is something we have been discussing since last year, will be a great addition

[2022-02-09 14:35] NKnusperer opened #547 "ServiceThrottlingBehavior replacement"
Hi everyone,
what is the replacement for the `System.ServiceModel.Description.ServiceThrottlingBehavior` ?
Browsing the repository I found the `CoreWCF.Dispatcher.ServiceThrottle` type which looks very promising, but I have no idea how to use it.

Btw is there also a replacement for `ServiceMetadataBehavior` and `ServiceDebugBehavior` ?

Thank you in advance :)

[2022-02-09 18:36] mconnew commented on #547
The bones of throttling are there, but I wouldn't want to rely on it. The problem is that we're no longer in charge of the IO. For example with Net.Tcp in WCF, when we hit our concurrent pending connections limit, we would simply not call Accept again on the listening socket until a pending connection completed. A similar thing applied to HTTP. Now we're built on top of ASP.NET Core, there's a dif

[2022-02-09 20:12] JonathanHopeDMRC commented on #514
I have a draft PR open for this that I will continue pushing code to: https://github.com/CoreWCF/CoreWCF/pull/548

[2022-02-10 09:12] absinghal opened #549 "Invalid URI: The hostname could not be parsed."
Getting the following error when hosting on IIS
[code]

I am using a IIS site binding with hostname as follows
`*.edu.qa.appsnirvana.com`

I believe error is coming from [this](https://github.com/CoreWCF/CoreWCF/blob/c370e8661bb25018e7631bb33a47ee7bf465a4a6/src/CoreWCF.Primitives/src/CoreWCF/ServiceHostObjectModel.cs#L259) line of code

Uri constructor does not recognize *.

As a workaround, we ca

[2022-02-10 17:43] mconnew commented on #530
The fix was merged

[2022-02-10 17:43] #530 closed

[2022-02-10 17:45] mconnew commented on #535
Closing as no immediate need for action. Feel free to reopen if needed.

[2022-02-10 17:45] #535 closed

[2022-02-10 17:52] #547 closed

[2022-02-10 18:25] absinghal commented on #549
This [place](https://referencesource.microsoft.com/#System.ServiceModel/System/ServiceModel/Description/ConfigLoader.cs,864076fde0291b1d,references) looks like the relevant piece of code for WCF on .NET

[2022-02-11 20:37] mconnew commented on #549
@absinghal, thanks, that saved me some work to find the relevant code. It looks like it just replaces the * with your local machine hostname. So if your server has the hostname of foo, it will use `foo.edu.qa.appsnirvana.com`. The reality is we don't support specifying the `HostnameComparisonMode` on the binding which is where this would have much effect. The default behavior in WCF (and the only

[2022-02-12 02:47] absinghal commented on #549
@mconnew I dont care about the hostname, I just want no exception to be thrown up if IIS has a binding with * in hostname.

Yes I agree that sometimes there could be a situation when the wildcard binding is the only binding on IIS (I had other bindings as well so ignoring the * binding worked for me), so the .NET/WCF approach is more generic.

I can amend the FixUri method to handle this case in l

[2022-02-16 14:22] allderidge commented on #270
I think you know this already @mconnew as your assigned the issue [https://github.com/dotnet/runtime/issues/41448](https://github.com/dotnet/runtime/issues/41448) but to help others I've found service contracts that reference an enum type throw a null reference exception:

[code]

For example the following service contract fails when running the core wcf contract test on it:

[code]

[2022-02-17 00:57] samsp-msft opened #552 "Compliance Checklist for 1.0 Release"
When we release software at Microsoft, we have a compliance checklist that needs to be completed. As a community project, CoreWCF doesn't fall under the scope of 1CS, but we should follow a similar process. The following checklist is based on what would be done internally.

- [ ]	Global Readiness for Spring 2022 of CoreWCF
	- [ ]	Run PoliCheck, Review and Address Results
	- [ ]	Review New Product,

[2022-02-17 22:14] samsp-msft opened #553 "Compliance: Run Policheck or equivalent"
Need to talk with .NET foundation about what they can offer in this area.

[2022-02-17 22:21] samsp-msft opened #554 "Localization: HTML pages for services"
Where HTML pages are generated and returned back to the user, those should be localized.

[2022-02-17 22:24] samsp-msft opened #555 "Compliance: Export controls documentation"
Ensure that covers p_sha1 used by [WS-SecureConversation 1.3](http://docs.oasis-open.org/ws-sx/ws-secureconversation/200512/ws-secureconversation-1.3-os.html).

[2022-02-18 06:32] samsp-msft opened #556 "Compliance: Account lockout for repeated failed login attempts"
Clarify what needs to be done specifically in CoreWCF. Should follow the same design patterns as ASP.NET Core.

[2022-02-18 16:18] kbrowdev opened #557 "Add CustomBinding Configuration Support to CoreWCF.Configuration"
I have need for support of GZIP compression for a port of a WCF application to CoreWCF

Add Support for defining custom bindings

 app.UseServiceModel(builder =>
        {
            builder.AddService<WCFService>()
                .AddServiceEndpoint<WCFService, IWCFService>
                    (
                        new CustomBinding
                        (
                            new

[2022-02-18 16:19] kbrowdev commented on #557
I volunteer to develop this feature.

[2022-02-18 19:43] jnyrup opened #558 "`attributeType` checked twice against `MessageBodyMemberAttribute`"
`attributeType` is checked against `MessageBodyMemberAttribute` on both line 60 and 68.
https://github.com/CoreWCF/CoreWCF/blob/73ac30239b8f8eaea5af23d09c8e8d4405ee86b7/src/CoreWCF.Primitives/src/CoreWCF/Description/CustomAttributeProvider.cs#L60-L75

As the second branch uses `ServiceReflector.SMMessagePropertyAttributeFullName` I guess the second statement should have used `MessagePropertyAttrib

[2022-02-18 23:59] samsp-msft commented on #556
Nothing needs to be done in CoreWCF, handled by SSPI etc.

[2022-02-19 00:04] samsp-msft opened #559 "Compliance: Ensure proper usage of symmetric block ciphers, key lengths, and initialization vectors"
Code needs to be reviewed.
Code should be the same as .NET Framework which is approved.

[2022-02-19 00:09] samsp-msft opened #560 "Compliance: Threat Model"
Author and review a threat model document outlining how data is processed.

[2022-02-19 00:11] samsp-msft opened #561 "Compliance: Document how security incidents should be handled"
Process to need to be documented.
Tibi & Matt on the security alias. Who owns the domain needs to be managed etc.

[2022-02-19 00:12] samsp-msft opened #562 "Compliance: Anti-malware scans need to be included as part of binary releases"
Talking with Richard about how whether this is supplied by the foundation.

[2022-02-19 00:22] samsp-msft opened #563 "Compliance: Ensure documentation covers secure by default configurations"
Make all examples secure by default or make it clear if they are about to do something dangerous

[2022-02-19 00:31] samsp-msft opened #564 "Compliance: Perform a privacy review for CoreWCF"

[2022-02-21 05:26] g7ed6e commented on #541
@mconnew please assign to me

[2022-02-21 14:57] BradBarnich commented on #272
If you are blocked, it is pretty small amount of work to cross compile to net5.0: https://github.com/BradBarnich/CoreWCF/commit/84beb95d27d1ddd2446134d2aabed2fdf98f3c73, while you wait for a proper solution from upstream.

[2022-02-21 15:02] denisbredikhin commented on #272
@BradBarnich Hm, I see in this commit that it is about porting to .NET 5? Does it mean that CoreWCF won't be compatible with .NET Framework anymore? I read in another thread that this will happen only after the release of version 1.0.
We have the issue with Microsoft.Extensions.Hosting in .NET Framework application.

[2022-02-21 18:43] denisbredikhin commented on #272
Ok, I've missed that this was a commit in fork.
Is there any plans when this will be available in upstream?

[2022-02-21 22:55] samsp-msft commented on #541
@g7ed6e - I'm not sure if the issue need to be assigned to stake a claim - submit a PR to get the ball rolling.

It would be good to have both classic and minimal API style templates - the latter are much simpler but require .NET 6.

[2022-02-24 16:10] denisbredikhin commented on #272
@mconnew we are blocked by this issue. Is there a way for us to work on this and create PR?

[2022-02-24 16:26] mconnew commented on #272
I'm currently recovering from some surgery so can't look into this with any urgency. I do know many people are using it on .NET 5 & 6 without an issue. Make sure you aren't referencing any earlier aspnetcore packages in any of you projects and make sure the framework reference is in the launching project as well as any project referencing CoreWCF and I would expect it to work. If it doesn't, then

[2022-02-24 16:34] denisbredikhin commented on #272
@mconnew we are working in .NET Framework but referencing Microsoft.Extensions.Hosting" Version=5.0.0, which targets .NET Standard 2.0, so it is a valid scenario.
I will ask our developers to make minimal example or test.

[2022-02-24 16:42] mconnew commented on #272
If you are running on framework, the problem with using a 5.0 version of the package is a compatibility problem with aspnetcore. Running on framework, you can only use asp.net core 2.1. I would expect you to have the same problem with an asp.net core app not involving CoreWCF running on framework.

[2022-02-28 15:29] denisbredikhin commented on #272
@mconnew that you for your explanation. Now I understand this is issue not in CoreWCF. We need to use package of version 2.1.  Currently we can't because we have dependency which requires version 5.0. So this is issue in this dependency, it should use 2.1 when it targets .NET Framework.

[2022-02-28 19:04] mconnew commented on #272
If you specify using the 2.1 version as a direct dependency in your app it will override whatever any over dependency is trying to pull it. As long as they aren't using api's which only exist in the newest version of the package, that has a good chance of working.

[2022-03-07 13:30] gvkries opened #565 "NetHttpBinding with transport security not working"
I'm trying to port an WCF service that uses NetHttpBinding with `BasicHttpSecurityMode.Transport` and `HttpClientCredentialType.Certificate`. But this is not implemented, right? It looks like the message security is not populated in the `ServerWebSocketTransportDuplexSessionChannel::ProcessAuthentication()`method.

[2022-03-07 13:43] gvkries opened #566 "NullReferenceException in RequestDelegateHandler constructor"
When the `ServiceModelHttpMiddleware` is building the application branch for a path, it does not check whether building an service dispatcher has actually succeeded. It then passes null to the `RequestDelegateHandler` which will in turn fail with a NRE.
There should be a better error message when the current binding does not support the desired channel shape.

[2022-03-07 13:51] gvkries opened #567 "NetHttpBinding.WebSocketSettings must be set on HTTPS transport binding element too"
When using the NetHttpBinding with HTTPS transport, configuring any WebSocketSettings is not passed to the actual transport binding element. This happens because `HttpBindingBase` is only exposing the HTTP web socket settings - in .NET 4.8 that instance is forwarded to the HTTPS transport binding element too.

[2022-03-08 01:39] birojnayak commented on #164
@Ximik87 I am not sure whether you have started.. let me know else I will working on a design doc starting next week

[2022-03-10 17:56] mconnew commented on #549
@absinghal, would you be able to push a PR to implement this fix? If not, that's okay and I'll get to it before the 1.0 release.

[2022-03-10 18:05] mconnew commented on #557
@kbrowdev, I've assigned the issue to you. Let me know if there's anything you need help with. Do you have an idea of timeline for this? We are working on preparing for the 1.0 release, after which we're working on 2.0. If needed we can release a 1.1 version with this, but I would prefer to have it in the 1.0 version if possible.

[2022-03-10 18:10] mconnew commented on #565
I'll take a look.

[2022-03-10 18:15] kbrowdev commented on #557
@mconnew I would like to have this done by the end of the month.  I hope to have it sooner if I can get the time slotted.

[2022-03-10 18:16] mconnew commented on #566
This is a bug. This is a service configuration problem and not something where a working service will sometimes fail. @g7ed6e can you look at this?

[2022-03-10 18:17] g7ed6e commented on #566
sure

[2022-03-10 18:19] mconnew commented on #567
I'll take a look.

[2022-03-10 18:34] jnyrup commented on #558
Sure, but I'm unsure how test it since `MessagePropertyAttribute` is `internal`.

[2022-03-10 18:55] gvkries commented on #565
Just to clarify, `ServiceSecurityContext.Current` returns `null` in the case described above.

[2022-03-10 20:10] mconnew commented on #565
Oh, I understand. That's expected behavior at the moment. You can get the client certificate from the HttpContext. We have a DI feature which allows you to add the HttpContext to your implementation method (you don't need to change anything in your contract). You can do the following:
[code]

The important thing to use this is to make your implementation partial so that a build time tool can back

[2022-03-10 21:16] mconnew commented on #567
@gvkries, can you take a look at #568 and check that everything looks good? This should solve the problem for you.

[2022-03-11 03:13] mconnew commented on #557
If you need any pointers with the implementation, let me know. Otherwise good luck and I'm looking forward to the PR.

[2022-03-11 09:37] gvkries commented on #565
Yes, that will work for me. Thank you very much.

[2022-03-11 18:34] #567 closed

[2022-03-11 18:41] mconnew commented on #567
The fix won't be published in a release build on nuget until we release the 1.0 package. In the short term, you can either pull the package from the dev feed (details in main project readme), or you can create your binding like this:
[code]

I'm leaving this issue closed as you now have 2 workaround (dev build, and above code) that you can use until the 1.0 release.

[2022-03-11 18:54] mconnew commented on #565
FYI in case it wasn't clear, you still need to configure asp.net core to require the client certificate as we don't have code to either enforce or validate that. I don't know yet how much control we have over configuring the client certificate requirement from CoreWCF (although I'm pretty sure we can't as CoreWCF gets involved too late). I think the best we can do is fail startup if it's misconfig

[2022-03-11 18:55] #565 closed

[2022-03-11 19:54] gvkries commented on #565
Yes, that makes sense and I have it working correctly. Thanks again.

But IMHO this should this be fixed for 1.0 anyway.

[2022-03-15 09:29] absinghal commented on #549
Created PR https://github.com/CoreWCF/CoreWCF/pull/570

[2022-03-16 17:12] marlon-tucker opened #571 "CustomUserNameSecurityTokenAuthenticator is internal"
I'm in the process of converting our WCF security model over to CoreWCF and have hit a wall because `CustomUserNameSecurityTokenAuthenticator` has been marked as internal.

I'm unable to work around it by inheriting from a class further up the chain because the `UserNameSecurityToken` is also marked as internal, and that is the token type which will get created.

Is there a reason why these are ma

[2022-03-18 19:16] RikkiGibson opened #572 "corewcf.net is unavailable"
https://github.com/CoreWCF currently links to https://corewcf.net/, but when I go to the latter location, I get the error "It looks like corewcf.net closed the connection" in my browser.

[2022-03-19 00:02] mconnew opened #573 "Use new DataProtection api's for CookieTransform implementation"
In .NET Framework the default CookieTransform implementation uses the DataProtect apis' which uses the Windows DAPI api for encrypting the authentication state to return to the client when EstablishSecurityContext is set to false. There are new API's for ASP.NET Core which can be used to replace this.

[Documentation link](https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/consu

[2022-03-19 00:06] mconnew commented on #573
@birojnayak , this is used in TransportWithMessageCredentials. I don't know if it's something you want to look into. The current code will throw PlatformNotSupportedException on Linux.

[2022-03-19 00:07] mconnew commented on #572
@tibor19, can you redirect this to somewhere sensible?

[2022-03-21 22:09] JonathanHopeDMRC commented on #514
The PR for this has been merged in, but is not in any formal releases yet.

[2022-03-22 14:54] JeroenRe opened #574 "Support for CreateMutualCertificateBindingElement() / 2-way certificate signing authentication"
Hi,

We are working a lot with Dutch government based (Edukoppeling) SOAP webservices which require 2-way certificate authentication, where the external party checks the validity and serial number in our certificate and we have to check the validity and serial number of their certificate during the request/response.

Because of this requirement we are 'stuck' on NET Framework v4.8 as this is the o

[2022-03-24 07:04] birojnayak opened #577 "This should be driven by DI and the newer configuration api's. Out of scope for this change. Can you open an issue for configuring SecurityTokenHandler's via config and DI."
This should be driven by DI and the newer configuration api's. Out of scope for this change. Can you open an issue for configuring SecurityTokenHandler's via config and DI.

_Originally posted by @mconnew in https://github.com/CoreWCF/CoreWCF/pull/538#discussion_r830414053_

[2022-03-24 11:55] kbrowdev commented on #557
@mconnew I am ready for the PR only it won't let me push a branch to create the PR.  I do have some questions on implementing the tests for the security elements.  There is more work on some components of security, but I wanted to consult before making those changes.

[2022-03-24 17:57] mconnew commented on #557
You can create a PR directly into main from your own branch. You aren't going to conflict with anything anyone else is working on. In case you aren't familiar with the model, you fork the repo into your own account. You can see mine at https://github.com/mconnew/CoreWCF. You create your branch there with your code and then create a PR from your fork into main on this repo.

[2022-03-26 08:57] g7ed6e commented on #566
@gvkries can you please share the configuration you used so I can add unit tests to #576 ?

[2022-03-27 00:18] birojnayak opened #579 "As discussed I am going to submit a PR to other repo and fix this performance problem once the other issues is submitted and released."
As discussed I am going to submit a PR to other repo and fix this performance problem once the other issues is submitted and released.

_Originally posted by @birojnayak in https://github.com/CoreWCF/CoreWCF/pull/538#discussion_r835827199_

[2022-03-29 05:21] jecook opened #580 "FaultCode.CreateReceiverFaultCode is not public"
We have some legacy code that catches some specific `Exception`s, does some additional processing and spits out a custom `FaultException`. This code calls `FaultCode.CreateReceiverFaultCode`, but since that is now marked `internal`, the code doesn't compile when using CoreWCF.
There is, of course, a simple workaround (just create the receiver `FaultCode` manually), but the fix in CoreWCF for this

[2022-03-29 12:58] gvkries commented on #566
In this particular case, I had a duplex contract with a `NetHttpBinding`. If I remember correctly, it failed because the service dispatcher was not created when the default configuration for the `TransportUsage` of the `WebSocketSettings` was used.

Anyway, the basic steps to reproduce the exception are:

[code]
where the service is a duplex service:

[code]

[2022-03-29 20:03] #566 closed

[2022-03-30 07:03] mconnew commented on #580
This will be coming in the next release. The change has already been checked in to the feature/WebHttpBinding branch.

[2022-03-30 07:34] #580 closed

[2022-03-30 20:50] jonlouie commented on #428
@mconnew Is this issue still available? Based on the conversation above, I have some ideas for testing this that I could contribute today or tomorrow.

[2022-03-30 21:34] mconnew commented on #428
@jonlouie, contributing unit tests is a great way to help. I'm really busy working on the final pieces for a preview release so I won't be able to look at any PR's until maybe the end of the week, but probably not until next week. Feel free to mention me on your PR if it's ready around Tuesday of next week if I haven't got to it yet.

[2022-03-30 23:32] jonlouie commented on #428
No problem- thank you for the quick reply and setting expectations. I'll publish the PR soon and follow up accordingly, thanks again!

[2022-03-31 10:29] birojnayak opened #585 "I think this method can't exist as the default set of security token handlers needs to come from DI"
I think this method can't exist as the default set of security token handlers needs to come from DI

_Originally posted by @mconnew in https://github.com/CoreWCF/CoreWCF/pull/538#discussion_r839233489_

[2022-04-02 07:34] alexbenitez opened #588 "Would it be possible to create a sample that works in Azure out of the box?"
(using the latest daily build 1.0.0-preview1)

I have a simplified sample (less bindings) which works perfect in my laptop with httpbindings with transport security (so it works with https and  SOAP 1.1). What adjustments do I need to make to make it work in Azure (App Service)? When I publish/deploy and try with Postman the request times out eventually? (if I comment out the AddService line I do

[2022-04-04 07:41] szyb opened #589 "Dependency Injection - unable to initialize implementation"
I'm testing CoreWCF in version 0.4 (.NET 6) together with Dependency Injection, as the service implementation has other dependencies injected in the constructor. I was facing with the error `The service implementation object was not initialized or is not available`.
My DI setup was:
[code]
ITestService is an WCF Contract
The TestService implementation:
[code]
When I changed DI setup to:
[code]
It

[2022-04-04 10:48] DawnDevelop commented on #492
I was about to open a PR when I realized that the Issue was already addressed [here](https://github.com/CoreWCF/CoreWCF/commit/0cc1f97f72458814137cce05de93774594596e10#diff-1c79e1459d79115e432c14d81e265fdad663206c5fb1375f6503571370ab6c74R8) in Commit 0cc1f97f72458814137cce05de93774594596e10

[2022-04-04 17:59] mconnew commented on #492
The interesting thing is that to shoehorn a REST request into a SOAP based programming model, you have to use most of the extensibility points to get it to work 😀. That feature will have satisfied most people's extensibility requirements.

[2022-04-04 17:59] #492 closed

[2022-04-04 18:18] mconnew commented on #589
You can do what you want. CoreWCF/WCF are service type oriented. This means you create a service for a concrete implementation of a class which implements one or more interfaces. You then add endpoints to those interfaces. This is the model that was used because on .NET Framework when WCF was first created, there wasn't a built-in DI mechanism for discovery of the implementation type. If you didn'

[2022-04-04 18:18] #589 closed

[2022-04-05 03:07] fforjan opened #591 "'OperationParameterInjectionGenerator cannot be created' when building with VS2019 and 1.0.0preview1"
Dear CoreWCF team. We are still building our code with VS2019  and started to have some POC regarding our .net core migration.

On our build machine, we got that :

[code]

Any idea ?

[2022-04-05 03:17] fforjan opened #592 "Contributing.md links to https://corewcf.readthedocs.io/en/latest/ which does not work anymore ?"
if you go to https://github.com/CoreWCF/CoreWCF/blob/main/CONTRIBUTING.md#filing-issues, you will see :
![image](https://user-images.githubusercontent.com/601810/161671998-a9aa8e93-6f87-4386-b84e-cb879e1c0e78.png)

and if you follow the link you will get :

![image](https://user-images.githubusercontent.com/601810/161672029-ffb2feed-2153-488c-a36f-05fe548a5692.png)

Not sure what should be the rig

[2022-04-05 04:56] g7ed6e commented on #591
@fforjan Can you please share a sample repo or zip? Also what is the detailed version of VS2019 on your build machine ?

[2022-04-05 15:40] fforjan commented on #591
@g7ed6e I could not reproduce the issue on my developer station and when I look at the specific build machine we used, it was a VS2019 16.10
Using VS2019 16.11 on our build machine solved the issue !

[2022-04-05 15:40] #591 closed

[2022-04-06 04:24] alexbenitez commented on #588
(Sorry - Please follow up the discussion in the Q&A - closing to avoid duplicates).

[2022-04-06 04:24] #588 closed

[2022-04-06 07:55] mus65 opened #594 "TypeLoadException after upgrading to 1.0.0-preview1"
After upgrading from 0.4.0 to 1.0.0-preview1, the ASP .NET Core AuthenticationMiddleware fails with the following exception. This is with .NET 6.0 .

This seems to be related to the version 6.14.1 of Microsoft.IdentitiyModel.Protocols.WsFederation . Adding a dependency to the latest Microsoft.IdentitiyModel.Protocols.WsFederation 6.17.0 to my project fixes it, so I guess CoreWCF just needs to upda

[2022-04-06 20:17] mconnew commented on #594
@birojnayak can you validate this and submit a PR?

[2022-04-07 03:49] glsolaria opened #595 "Implement a compression format option for binary messages sent over a TCP transport"
I get an NotSupportedException when I try to enable GZip compression on a NetTcpBinding ...
[code]

[2022-04-07 18:13] KunalSaini opened #597 "readme link to license file is broken"
Current link in README is broken
![image](https://user-images.githubusercontent.com/4111254/162269342-d412fa65-d0b0-465a-b1ef-9c30aa30c84f.png)

[2022-04-07 18:14] KunalSaini commented on #597
This PR fixes the link https://github.com/CoreWCF/CoreWCF/pull/596 ,

If you want to rename the file to `LICENSE.txt` , i can update the pr.

[2022-04-08 03:02] mconnew commented on #557
I haven't finished reviewing your PR, but there's a few things you can get started on changing. I'll continue as soon as I can, hopefully tomorrow.

[2022-04-08 21:44] #594 closed

[2022-04-12 19:38] roend83 commented on #270
I just hit this error trying out the 1.0.0-preview1 package:

`An ExceptionDetail, likely created by IncludeExceptionDetailInFaults=true, whose value is:
System.InvalidOperationException: An exception was thrown in a call to a WSDL export extension: CoreWCF.Description.DataContractSerializerOperationBehavior\r\n contract: http://tempuri.org/:IApslService ----> System.Reflection.TargetInvocationExc

[2022-04-12 23:34] mconnew opened #602 "### Improve support for ASP.NET 3.1, 5, and 6."
### Improve support for ASP.NET 3.1, 5, and 6.

ASP.NET 2.1 has reached end of support. Drop support for ASP.NET 2.1 and improve support for ASP.NET 3.1, 5, and especially 6.

For example, these backward compatibility settings shouldn't be required when using CoreWCF in a new ASP.NET project:

[code]

_Originally posted by @mvarblow in https://github.com/CoreWCF/CoreWCF/issues/234#issuecomment-100

[2022-04-12 23:34] #602 closed, assigned to nobody

[2022-04-13 05:17] jecook opened #604 "WSDL import URLs loading default WSDL instead of correct document"
When there are imports in the WSDL, e.g. `<wsdl:import namespace="myns" location="https://localhost:8088/MyService?wsdl=wsdl0" />`, the import URL returns the same document as the default.

It looks like there might be a problem in `ServiceMetadataExtension.HttpGetImpl.FindQuery` when there is a Value. The returned query does not include the value, so it cannot find the correct doc:
[code]
should

[2022-04-13 07:04] jonlouie commented on #463
@mconnew Has this issue been resolved? It looks like a duplicate of issue #477 which was fixed PR #500

[2022-04-13 08:22] cpx86 commented on #270
@roend83 I hit the same issue as described in this PR discussion. @mconnew explained the underlying problem further very well there - it's apparently not trivial to solve. https://github.com/CoreWCF/CoreWCF/pull/550#issuecomment-1083106378

If you can modify the underlying data contracts though, there is a workaround that solved it for me - basically just make sure that you don't have multiple typ

[2022-04-13 11:18] ismaelhamed commented on #589
I just modified the `Startup` from the `NetCoreServer` sample like this:

[code]

But I'm still getting "The service implementation object was not initialized or is not available.". The `EcoService` is expecting an instance of `IAppConfig` in its ctor.

[2022-04-13 15:42] FreeAndNil opened #606 "NetTcpBinding won't listen on IPV6"
Hi,

we use

IWebHostBuilder result = WebHost.CreateDefaultBuilder().UseNetTcp(805);

void Configure(IApplicationBuilder app, IHostingEnvironment env)
=> app.UseServiceModel(builder =>
{
  builder.AddService(typeof(MyService));
  builder.AddServiceEndpoint(typeof(MyService), typeof(IMyService), netTcpBinding, "nettcp://<hostname>:805/MyService.svc", "nettcp://<hostname>:805/MyService.svc");
}

Aft

[2022-04-13 17:27] roend83 commented on #270
@cpx86 Changing this to a List does get rid of the error.

[2022-04-13 20:31] roend83 commented on #604
I hit this issue too.  I can submit a PR if you'd like.

[2022-04-14 16:29] mconnew commented on #604
I'll take a look at the PR. Thank you.

[2022-04-14 16:37] mconnew commented on #577
This work was completed as part of fixing CookieTransform

[2022-04-14 16:37] #577 closed

[2022-04-14 16:39] mconnew commented on #574
This method is needed for full Message security. We only support Transport and TransportWithMessageCredentials. We have some blocking dependencies at the moment which means this won't be available for quite a while.

[2022-04-14 16:40] mconnew commented on #573
This is done now

[2022-04-14 16:40] #573 closed

[2022-04-14 16:45] mconnew commented on #549
Closing as PR has been merged

[2022-04-14 16:45] #549 closed

[2022-04-14 16:50] mconnew opened #610 "Some differences in generated WSDL between CoreWCF and System.ServiceModel"
The main thing of concern is WIndoesStreamSecurityBindingElement missing IPolicyExportExtension

### Discussed in https://github.com/CoreWCF/CoreWCF/discussions/608

<div type='discussions-op-text'>

<sup>Originally posted by **jecook** April 13, 2022</sup>
Some differences in the generated WSDLs are inevitable, but there are some bigger differences that I don't know enough to know if they are imp

[2022-04-14 18:51] jonlouie commented on #595
I'm interested in helping with this issue

[2022-04-14 18:52] jonlouie commented on #239
I'm interested in helping with this issue

[2022-04-14 18:54] birojnayak commented on #595
@jonlouie assigning to you

[2022-04-14 18:55] birojnayak commented on #239
@jonlouie assigned to you

[2022-04-15 00:54] #604 closed

[2022-04-17 12:14] Danielku15 opened #614 "Allow configuring NetTcp as part of the normal DI setup for using IConfiguration and IHostConfiguration"
Currently it seems that `UseNetTcp` needs to be specified when creating the HostBuilder which has the negative effect that you cannot access any DI services to configure your host.
https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/NetCoreServer/Program.cs#L36

It would be great if `UseNetTcp` supports variants where the `IServiceProvider` of the global WebHost services can be accessed.

**M

[2022-04-18 14:00] roend83 opened #615 "Errors Generating WSDL in Preview2 Package in .NET 6"
The errors are thrown in DataContractEx.GetGetOnlyCollectionDataContractStub.  The first error I got was here:

`var serializationModeParam = Expression.Constant(intModeParam, SerializationModeType); `

The message is:

`System.ArgumentException
  HResult=0x80070057
  Message=Argument types do not match
  Source=System.Linq.Expressions
  StackTrace:
   at System.Linq.Expressions.Expression.Constan

[2022-04-18 17:36] roend83 commented on #615
It looks like this line is missing a parameter

`var methodInfo = DataContractType.GetMethod("GetGetOnlyCollectionDataContract", BindingFlags.Static | BindingFlags.NonPublic, null,
                new Type[] { typeof(int), typeof(RuntimeTypeHandle), typeof(Type) }, null);`

If I add `, SerializationModeType` into the parameter array it appears to work.  I'll start a PR with these updates.

[2022-04-18 18:11] DarioSalcedo commented on #428
Hi @BradBarnich, @mconnew, please, what would be wrong, in the Startup class two contracts are used. In Program Main, I put the following:
[code]
In Program:

[code]
In the Client solution, only the first call is recognized. Please, I humbly request your support :)

[code]

System.ServiceModel.ProtocolException
  HResult=0x80131500
  Mensaje = Error al leer el formato de tramas de mensajes en la p

[2022-04-18 21:52] DarioSalcedo opened #618 "Host multiple contracts in one CoreWCF service"
Is it possible to host multiple service contracts in one CoreWCF service? If so, how? I've been googling and some posts say you can do it (but not how)

![GITHU](https://user-images.githubusercontent.com/20375854/163882325-42edd21d-40e0-4d1c-8a43-ed24b7d593b3.png)

Code:
[CoreWCF_TestMultipleContracts.zip](https://github.com/CoreWCF/CoreWCF/files/8508344/CoreWCF_TestMultipleContracts.zip)

 I'm tr

[2022-04-19 00:01] #606 closed

[2022-04-19 19:09] #615 closed

[2022-04-19 21:10] roend83 opened #619 "App Insights Telemetry"
When CoreWCF requests come into application insights, I just see `POST /MyService.svc`.  There isn't any telemetry that tells me the actual service method that was called.  I would like to see CoreWCF either support this natively or by including another CoreWCF package.

If someone can point me in the right direction on how to do this, I'd be willing to spend some time working this out.

[2022-04-20 10:32] mzuvin opened #620 "About FaultException"
The background task is stopped because an exception is thrown at the library I am using (Hangfire).
Can I return a result without throwing the FaultException object?

[2022-04-20 20:43] gougeman opened #621 "SecurityTokenManager internal abstract method prevents implementation of class for custom tokens"
I'm prototyping a port of WCF service to Core WCF 1.0.0-preview2, and it uses a custom token type, which then has a custom derived type for TokenSerializer, ServiceCredentials etc.

The CoreWCF equivalent of SecurityTokenManager seems to have an internal abstract method, and this blocks derivation from outside the CoreWCF assembly.

Is support for custom tokens targeted for part of the 1.0.0 featu

[2022-04-22 01:48] mconnew commented on #558
@jnyrup, could you take a look at my PR and sanity check my code to make sure I didn't mess anything up? I added tests so I've got high confidence in my fix.

[2022-04-22 02:05] mconnew opened #624 "Modify DataProtectionSecurityStateEncoder to use DataProtection instead of ProtectedData"
We switched the CookieTransform to use DataProtection as it works cross platform, but we still are using ProtectedData in DataProtectionSecurityStateEncoder. We need to get the DataProtection instance from DI and plumb it through.

@birojnayak, it would be great to get this done before GA. If there isn't time, I'd like to make DataProtectionSecurityStateEncoder be internal so we can modify it late

[2022-04-22 12:55] edberg commented on #619
You can have a look at this repository that fixed this for the full framework:

https://github.com/microsoft/ApplicationInsights-SDK-Labs

Maybe it can be ported to support CoreWCF?

[2022-04-22 16:24] cpx86 opened #625 "Service metadata behavior does not consider Host header when setting port address"
When running WCF under IIS, if the client includes a Host header when requesting the service metadata, the port address in the resulting WSDL will have that host name instead of the host name that the service is actually bound to. In CoreWCF, this is not currently the case.

This behavior is quite useful when testing WCF services that are behind a reverse proxy (which arguably is usually the case)

[2022-04-22 21:22] mconnew commented on #597
Thank you, closing as merged. BTW, if you put on a line on it's own at the start of the first comment that you submit with the PR "Fixes #issuenumber", merging the PR automatically closes the issue.

[2022-04-22 21:22] #597 closed

[2022-04-22 23:38] #558 closed

[2022-04-23 00:48] mconnew commented on #625
This isn't enabled by default even in WCF. It is a feature you need to turn on, but it's easily done. You just need to add an instance of `UseRequestHeadersForMetadataAddressBehavior` to the service description behaviors. With CoreWCF this is easy as we check DI for instances of IServiceBehavior so you can enable this feature with this single line::
[code]
You can see the (very sparse) documentati

[2022-04-23 01:04] mconnew commented on #619
I would be open to having this be built in. My only criteria with the implementation is that it's pay to play. That is, if you aren't using App Insights, there's no runtime cost of checking if it's enabled all the time. We have a new middleware style pipeline so it might be worth adding it to our dispatch pipeline as an optional layer so that it gets put into the call path if used, but if not need

[2022-04-23 06:11] birojnayak commented on #619
@mconnew as long it's following open telemetry standard we should be good...

[2022-04-23 06:15] mconnew commented on #619
App Insights support is based off of open telemetry now. So that should be fine.

[2022-04-25 08:29] cpx86 commented on #625
Thanks, the correct solution seems so obvious now - I'll close this issue then 😅 What threw me off was, it seems WCF adds this behavior automatically if `serviceHostingEnvironment.multipleSiteBindingsEnabled` is enabled - I mistakenly thought the ServiceMetadataBehavior handled this by default.

[2022-04-25 08:29] #625 closed

[2022-04-25 18:44] jonlouie commented on #486
@birojnayak I'm interested in helping with this

[2022-04-25 18:46] jonlouie commented on #525
@birojnayak I'm interested in helping with this

[2022-04-25 19:21] JonathanHopeDMRC opened #628 "Open API Documentation Generation Requests"
Some requests I've received from internal usage of CoreWCF's OpenAPI documentation generation:

- Support min  and max length on data contract properties.
- Support for a format (i.e. date/enum/number) on data contract properties.
- Populate tags section in document sorted alphabetically.

Won't be too much work to add these.

[2022-04-25 19:35] #595 closed

[2022-04-25 19:35] #501 closed

[2022-04-25 19:59] samsp-msft commented on #592
Did it ever work?
We are working on getting DocFX setup with info from the old WCF reference docs where applicable.

[2022-04-26 00:24] mconnew commented on #625
@cpx86, I didn't know it did that automatically when you enable MultipleSiteBindingsEnabled, I found the code where it does this. I've been working with WCF for nearly 11 years and I still learn new things from time to time. I'm glad you are unblocked.

[2022-04-26 23:44] birojnayak commented on #486
@jonlouie assigning to you

[2022-04-26 23:45] birojnayak commented on #486
@mconnew can you assign.. I can't assign to @jonlouie

[2022-04-26 23:47] mconnew commented on #486
@birojnayak, it looks like you assigning it to Jon was successful.

[2022-04-26 23:51] mconnew commented on #628
Will this require new API's or can you leverage existing ones? If it needs new api's, this will require a new minor version release (1.1.0) so we should plan to release it with anything else pending that needs new api. If you can leverage existing api's, then it can be released as a patch release.

[2022-04-27 00:56] mconnew commented on #621
This looks to be a bug. This should be public. Any chance you can submit a quick PR within the next 24 hours to fix that? If so, it will make it into 1.0.0. We haven't explicitly targeted that scenario, but I would expect it to work. If it doesn't, we can fix whatever is missing for a 1.1 release if extra API's are needed to be exposed, otherwise it would be possible to do in a patch release.

[2022-04-27 16:44] gougeman commented on #621
Thanks for the quick response, Matt.

I have a PR from changes I made locally to work on my scenario with custom tokens,, but it looks like to enable it E2E I need ServiceCredentials.CreateSecurityTokenManager exposed also so that my custom credentials can create the right token manager.

I have no context on where this area of the project is w.r.t to test coverage of these methods, but I'll submi

[2022-04-28 18:45] JonathanHopeDMRC commented on #628
We will need to add a some new properties to the documentation related attributes.

[2022-04-29 06:55] leoerlandsson commented on #234
WsHttpBinding - Message Level Security: SecurityMode.Message

[2022-04-29 11:26] g7ed6e opened #635 "CoreWCF source generator interfers with usages of [FromServicesAttribute] in ASP.NET Core MVC Controllers"
Installing CoreWCF packages in an ASP.NET Core application that already expose routes MVC framework is triggering false positive build errors. The CoreWCF source generator requires the user implemented `Controller` classe to be `partial`.

[2022-04-29 12:53] jeanrp opened #638 "NamedPipe in CoreWCF"
How far is CoreWCF from getting NamedPipe implemented? Thank you for this library!

[2022-04-29 17:59] mconnew commented on #635
I thought we only modified classes which implemented an interface which is attributed with ServiceContract?

[2022-04-29 19:24] g7ed6e commented on #635
I just had a look to the code and this is not exactly the case because we are issuing a report diagnostic when the class containing the method to « enrich » does not implement an interface service contract.
The « entry point »  of the algorithm, as is, is the presence of the attribute attached to a method parameter. I did things like this to avoid a full scan of all potential interfaces being a se

[2022-05-01 00:34] dpbevin commented on #533
I was able to add constructor-based DI (in .NET Framework and .NET 5+) using a custom behavior that implemented `IInstanceProvider`.

A .NET 6 version might look a bit like this...

Step 1: Register the service (and deps with DI): `services.AddSingleton<CustomerService>();`

Step 2: Add the custom behavior to the host:
[code]

The `DependencyInjectionInstanceProvider` looks a bit like this:
[code]

[2022-05-01 14:08] lscorcia opened #642 "Running services without contract interfaces"
I'm evaluating CoreWCF to help porting some of the legacy WCF SOAP services we have in our organization.
They are currently defined as simple concrete classes without an explicit service interface. All annotated methods were automatically considered by WCF as service methods, i.e.:

[code]

They were activated using svc-less activation more or less as follows:

[code]

Now, I am configuring the ac

[2022-05-01 14:51] lscorcia commented on #642
Nevermind, it was my fault. I forgot the ServiceContract annotations on the service class - when I added that it started listening correctly.

[2022-05-01 14:51] #642 closed

[2022-05-02 12:27] lscorcia opened #645 "Error when publishing services with different namespaces"
Hi, I have encountered the following error in the `?singleWsdl` endpoint when porting some WCF services to .net core using CoreWCF.

[code]

The error shows when invoking the ?singleWsdl endpoint but also there's something weird when invoking the ?wsdl endpoint, as it shows import directives for types that are not actually needed for the specific service.
Everything works fine if I register only o

[2022-05-02 17:11] lscorcia opened #646 "http 400 error when running under a virtual directory in IIS"
Hi, I need to run CoreWCF services under an IIS virtual directory. Everything works fine when running under the main web site, but when I move my project under a virtual directory the .svc page returns an http 400 error.
You can find a small repro project here: https://github.com/lscorcia/corewcf-repro-1 . Make sure to run the project under IIS Express:

![immagine](https://user-images.githubuserc

[2022-05-02 17:23] lscorcia commented on #645
Small repro is here: https://github.com/lscorcia/corewcf-repro-2/

![immagine](https://user-images.githubusercontent.com/16761934/166294601-5ff509c2-3132-48d7-9539-abf10817e832.png)

[2022-05-03 12:54] jeanrp commented on #638
Do you think the version that will include NamedPipe will still be compatible with .NET Framework?

[2022-05-04 20:24] #635 closed

[2022-05-05 09:46] dioptryk commented on #645
We have the same problem, is it possible to circumvent it somehow? We need different namespaces.

[2022-05-05 13:05] lscorcia commented on #645
I still have not found a workaround :(

[2022-05-05 14:56] roend83 commented on #619
I was able to get this working in my application by including the Microsoft.ApplicationInsights.AspNetCore package, registering app insights on startup, and adding this service behavior:

[code]
Most of this logic is borrowed and slightly modified from the [ApplicationInsights-SDK-Labs](https://github.com/microsoft/ApplicationInsights-SDK-Labs) project.  If this is useful to others I can package i

[2022-05-05 15:02] roend83 commented on #619
It ends up logging out telemetry that looks like this
![image](https://user-images.githubusercontent.com/193979/166952940-920765ef-0caa-4e91-811b-33dc436d9d3f.png)

[2022-05-05 18:15] freica opened #651 "Sample DesktopServer"
Please change the description "Core WCF Server using .NET Framework" of the sample DesktopServer [here](https://github.com/CoreWCF/CoreWCF/tree/main/src/Samples) because it's not using CoreWCF

See also this issue:
[issue-710082274](https://github.com/CoreWCF/CoreWCF/issues/227#issue-710082274)

[2022-05-05 21:56] randomnoise commented on #369
It looks like the problem originates from here:

https://github.com/CoreWCF/CoreWCF/blob/f7113a7f2537ecd4d5ca397fbebbbb97aad241a1/src/CoreWCF.Http/src/CoreWCF/Channels/HttpRequestContext.cs#L355-L366

`HttpTransportSettings.KeepAliveEnabled` and `this.KeepAliveEnabled` are set at the startup, it doesn't depend on the request:

https://github.com/CoreWCF/CoreWCF/blob/f7113a7f2537ecd4d5ca397fbebbbb9

[2022-05-05 23:35] mconnew commented on #369
@randomnoise, you are definitely welcome to help. The connection value does actually depend on the request. If the service is configured with KeepAliveEnabled, but the client request has a `Connection: close` header, then we should reply with a `Connection: close` response despite the binding setting. So the fix here is to check the incoming request to see if the Connection header is present AND i

[2022-05-06 00:06] mconnew opened #652 "WSDL incorrectly generated for types implementing IXmlSerializable"
The interface IXmlSerializable had a GetSchema method. When using a service contract which uses System.Data.DataSet, the GetSchema method isn't being called to generate the schema for the WSDL. This is probably yet another schema generation bug in the runtime, but we should be able to work around it like we have the other schema generation bugs.

[2022-05-06 00:11] mconnew opened #653 "WSDL sometimes contains duplicate entries for SOAP Faults"
The service experiencing this issue has multiple different contracts on the same service so this might be the cause. The partial WSDL looks a bit like this:
[code]

[2022-05-06 00:13] mconnew opened #654 "WSDL missing xml header"
An XML header like this:
[code]
Is missing from the generated WSDL

[2022-05-06 00:29] mconnew commented on #646
Can you try making this change:
[code]

[2022-05-06 01:00] mconnew commented on #645
I understand the problem and should have a fix available within a couple of weeks.

[2022-05-06 19:51] lscorcia commented on #646
It does not seem to have any effect. I updated the repro to CoreWCF 1.0.1 and added your suggestion.

[2022-05-06 21:56] samsp-msft opened #655 "WebHttp OpenAPI is generating excessive types"
I have been working on cleaning up the samples and creating clients to go with the server examples.
In the case of the webhttp binding, the client uses the Nswag msbuild task to generate a client wrapper based on the swagger document generated.

The problem that I am finding is how its handling inner types.

The server contract includes:

[code]

I get a generated client (yay). but when I then loo

[2022-05-06 22:33] JonathanHopeDMRC commented on #655
I agree it definitely looks weird, and the initial version of this didn't have the duplicated types. Unfortunately while the initial version worked wonderfully for JSON it didn't really work at all for XML. It mostly came down to how strict XML is, and how poorly suited OpenAPI is at representing it.

It's possible that we've struck the wrong balance here in pursuit of the XML support. I'll reach

[2022-05-07 00:36] mconnew commented on #655
I tried to get the client generation working for XML for .NET. There are multiple generators which exist across multiple projects and the XML client generation ranges from doesn't support at all to there's beginnings of some support and even that is majorly buggy. But for .NET at least, there is no viable option for generating an XML based client from OpenAPI. I haven't surveyed the options for ot

[2022-05-07 07:36] randomnoise commented on #518
I sent a somewhat trivial pull request to solve this (#656) but there might be a bigger underlying issue here.

How come this test, failing for .NET Framework, is not reproduced on the Pull Request netfx test workflows? Is this a false positive test result? If this is, are there other false positives?

[2022-05-09 07:11] ThomasArdal opened #657 "Global exception handling"
I'm playing around with CoreWCF and like what I see so far. I noticed that logging works out of the box with `ILogger`. But I'm wondering if there's a way to create a global exception handler. When throwing an exception from the `EchoService` class in the sample:

[code]

The exception is not logged by CoreWCF. Am I missing something or is there another way to make sure this gets logged? Other log

[2022-05-10 06:00] luboid opened #658 "Question about custom binding configuration"
Hi, is there possible way to configure binding like that with basic auth:

[code]

[2022-05-10 09:53] alexey-kostylev opened #659 "Could not find a base address that matches scheme https for the endpoint with binding WebHttpBinding. Registered base address schemes are [http]."
Hi guys,
I'm runningCoreWcf service in azure as a WebApp and getting this exception in azure console:
Unhandled exception. System.InvalidOperationException: **Could not find a base address that matches scheme https for the endpoint with binding WebHttpBinding. Registered base address schemes are [http]**.
   at CoreWCF.ServiceHostBase.MakeAbsoluteUri(Uri relativeOrAbsoluteUri, Binding binding, Uri

[2022-05-10 18:41] mconnew commented on #274
Closing this issue as the v1.0 release packages are available on nuget.org

[2022-05-10 18:41] #274 closed

[2022-05-10 22:57] alexey-kostylev commented on #657
I think you can do it in a usual way:
`app.UseMiddleware<ExceptionHandler>()`

[https://jasonwatmore.com/post/2022/01/17/net-6-global-error-handler-tutorial-with-example](https://jasonwatmore.com/post/2022/01/17/net-6-global-error-handler-tutorial-with-example)

[2022-05-11 06:01] ThomasArdal commented on #657
I don't think middleware will work in the sample. It is using `UseNetTcp` which is not HTTP-based. At least that is what I found here: https://gitter.im/CoreWCF/CoreWCF?at=607f38712e5574669b4bcd66.

It would be cool to be able to use middleware. But it doesn't change that uncaught errors don't seem to be logged through `ILogger`. If CoreWCF should follow how things are done in ASP.NET Core in gene

[2022-05-11 07:38] alexey-kostylev commented on #657
I agree with you, for Tcp its probably a different story,

[2022-05-11 15:39] allderidge opened #663 "Unable to seamlessly expose services on HTTP and HTTPS based urls"
Simple configure of services via a call to builder.AddServiceEndpoint<EchoService, IEchoService>(new BasicHttpBinding(), "/EchoService/basichttp") only exposes the service via HTTP, attempts to access the service via HTTPS result in a HTTP Not Found 404 response.

The CoreWcf examples illustrate this point, starting dotnet6server using dotnet run and attempting to access via the exposed HTTPS url

[2022-05-11 16:11] JonathanHopeDMRC commented on #628
The PR is in for this: https://github.com/CoreWCF/CoreWCF/pull/665.

[2022-05-11 17:13] #645 closed

[2022-05-12 07:34] skurth opened #668 "ServiceBehaviorAttribute -> UseSynchronizationContext missing"
In .NET-Framework WCF, there is a property on ServiceBehaviorAttribute named UseSynchronizationContext. When you set it to false, there is less blocking with multiple (long running) requests:

https://social.msdn.microsoft.com/Forums/vstudio/en-US/1873eb17-a711-4512-84be-463b74b087b5/wcf-long-running-task-blocks-all-other-calls?forum=wcf

https://docs.microsoft.com/en-us/dotnet/api/system.servicem

[2022-05-12 09:21] allderidge commented on #663
An example 'hacky' fix for the dotnet6Server CoreWcf sample that allows configuring support for HTTP and HTTPS but not blowing up when the service is only started with one or the other is.

`
    var builder = WebApplication.CreateBuilder(args);
    builder.WebHost.ConfigureKestrel((context, options) =>
    {
        options.AllowSynchronousIO = true;
    });

    builder.Services.AddServiceModelS

[2022-05-12 09:22] allderidge commented on #659
It looks like your remote server hasn't got HTTPS enabled and CoreWcf 1.0.0 now cares that your binding is asking for a secure transport with the code `WebHttpSecurityMode.Transport`. It tries to find a HTTPS base address that the server exposes and then throws that exception as the server is only exposing a HTTP address.

I've fixed this kind of issue with some 'hacky' code that makes CoreWcf thi

[2022-05-12 11:26] allderidge commented on #659
I've tested a CoreWcf based service hosted with a linux App Service Plan in Azure and the host does not start with a HTTPS endpoint (note the actual Azure service exposes a HTTPS endpoint but the Kestral host does not). With the fix/hack in #663 the wsdl ports illustrate this:

<wsdl:port name="BasicHttpBinding_ServiceName" binding="tns:BasicHttpBinding_ServiceName">
<soap:address location="http:/

[2022-05-12 16:43] mconnew commented on #668
We do have support for this in the implementation, but it looks like we didn't add it to this behavior to modify it. It's only an issue if you have a sync context set when you start the service. This generally only happens with a UI app. We'll use this issue to track adding that API back in.

[2022-05-12 16:49] mconnew commented on #663
Unfortunately this was necessary as the HTTP hosting model is different for asp.net core compared with .NET Framework. The problem we were having is when using app.Map("/path"), we were rejecting an https request on the http endpoint when there was an https endpoint also defined. There is a simpler way to define the binding though, simply use BasicHttpBinding(BasicHttpSecurityMode.Transport) and t

[2022-05-12 17:02] mconnew commented on #659
Hosting in the cloud is a common scenario where https offload is reasonably common. The workaround to modify the wsdl is a little ugly and requires way too much code so I think this deserves being a feature to simply tell CoreWCF that SSL offload is happening and to advertise it as https even though it's http.

[2022-05-12 17:20] JonathanHopeDMRC commented on #514
Given that this is done I'm going to close it.

[2022-05-12 17:23] mconnew commented on #657
@alexey-kostylev, that won't work for CoreWCF. If your service implementation throws an exception, CoreWCF turns that into a generic Fault message which simply says something went wrong with no details for the client (for security reasons) and returns that to the client in the response. An exception thrown in a service does not propagate out of CoreWCF to earlier middleware.

You can turn on provi

[2022-05-12 17:23] #657 closed

[2022-05-12 17:56] ThomasArdal commented on #657
I had forgotten everything about `IErrorHandler` 👍  I still think it would make sense to log errors to `ILogger` but I see the need for providing an error handler as part of the framework which may not be preferable.

The article you have linked to is great. I just think it misses the possibilities from CoreWCF. You mention that the `IErrorHandler` implementation can be dependency injected to avoi

[2022-05-12 19:40] mconnew commented on #657
I still need to work out how we're going to approach logging in general. Many people use svctraceviewer so it's important that however we log, it can be transformed/output into something readable by that. But we need to do it in a cross platform way, and also have an eye to integrating into newer tooling which uses OpenTelemetry. I don't know if that's sufficient or whether we need a dual approach

[2022-05-13 06:46] ThomasArdal commented on #657
I think people would expect `ILogger` to work (which is does).

As for the DI stuff, being CoreWCF-specific is actually fine for this issue I believe. That was what I was after in the first place 👍

The purpose of this task was really to find out how to do global error logging ("Global exception handling" was a misleading title). But an example of how to do this either as documentation somewhere o

[2022-05-13 07:12] kaksmet commented on #646
I also can't seem to get a CoreWCF service working on IIS unless it's running at the root.

[2022-05-13 07:57] skurth opened #669 "AddServiceEndpoint and AddServiceWebEndpoint with similar addresses"
We are trying to migrate an old .NET-Framework WCF service (running as a self-hosted Windows Service) to CoreWCF and we have the following issue:

In our existing service, we are adding the following endpoints (plus example Uris):
- SOAP (http://localhost:7000/Service/Sys)
- REST (http://localhost:7000/Service/Sys/rest)
- MEX (http://localhost:7000/Service/Sys/mex)

This works fine.

In CoreWCF, w

[2022-05-13 08:50] ThomasArdal commented on #657
BTW, your proposed solution with injecting the `IServiceBehavior` works perfectly 🙌 Thank you for your help 🙏

![image](https://user-images.githubusercontent.com/563206/168247305-d84f4adc-742a-472c-94eb-5c3146e8f8d6.png)

[2022-05-13 09:56] cgreenza commented on #646
Using the full service URL for the base address and an empty address for `AddServiceEndpoint` works for me:

[code]

[2022-05-16 02:43] mconnew commented on #657
I want to go a step further and have a method which looks something like this:
[code]
Then under the hood have some other class which is specific TService and acts as a holder for TBehavior. That way you can scope a behavior to a specific service. This will then require another helper method to act against the IServiceProvider to fetch the helper type and get the specific behavior for the service.

[2022-05-17 06:57] padmadighe opened #671 "NetCoreServer sample"
Hi,

I used to NetCoreServer  sample and  simple .net core console app to consume WCF web service.  I can consume WS with http end point but nettcp endpoint is not working,  I get below error.  Please let if net TCP requires any additional configuration.

An error occurred while attempting to find services at 'net.tcp://localhost:8089/EchoService/nettcp'. Cannot obtain Metadata from the URI: net.t

[2022-05-18 12:54] mirkoprog opened #673 "set binding name and port name"
Hi guys,
i need to change my port name and binding as you can see in the screen below:

![image](https://user-images.githubusercontent.com/63824434/169042590-17ffff21-f67a-4943-b65e-b1802a7e262c.png)

Does anyone know how I can do this?

[2022-05-18 19:52] mconnew commented on #337
We are working on both measuring the performance in a more formal way (we know it's in the same ballpark as WCF on .NET Framework) and have some proactive improvements we're already planning for 2.0 (switch from reading/writing a Stream to IDuplexPipe, switch Task -> ValueTask where appropriate to reduce allocations). That's going to take a bit of time to get ramped up so no immediate answers.

Yo

[2022-05-18 20:23] raosrip opened #674 "ChannelFactory implementation in CoreWCF as in System.ServiceModel"

[2022-05-18 20:24] raosrip commented on #674
Currently I don't see the ChannelFactory implemented in CoreWCF which is causing issue while calling WCF service which is already using CoreWCF. Can you pls add it?

[2022-05-19 01:09] mconnew opened #675 "Some Message.CreateMessage and MessageFault.CreateFault overloads are internal"
### Discussed in https://github.com/CoreWCF/CoreWCF/discussions/672

Some of the Message and MessageFault creation api's are internal. There isn't any reason for them to be internal. As this is adding public api, this will need to be shipped with a minor version bump. v1.1 is the most likely candidate. We have a few other changes in the pipe which also have new public api.

[2022-05-19 01:23] mconnew commented on #673
Do you need to modify this due to a behavior different compared with WCF?

You can modify the generated WSDL by implementing an IWsdlExportExtension in an attribute. You can find an example for WCF [here](https://github.com/dotnet/samples/blob/main/framework/wcf/Extensibility/Metadata/WsdlDocumentation/CS/library/WsdlDocumentationAttribute.cs). You only need to implement the IWsdlExportExtension a

[2022-05-19 01:26] mconnew commented on #674
This is the service side only. For the client side, you need the System.ServiceModel.XXXXX packages. That project lives at https://github.com/dotnet/wcf

[2022-05-19 06:34] raosrip commented on #674
In my situation, I am calling another service from same service (in this case it will act as client) in server.

How to handle this situation?

[2022-05-19 07:25] Danielku15 commented on #337
Thanks for the detailed insight. Very informative. 👍

But I think there might have been a small misunderstanding in my question. In my particular case I was primarily wondering about comparing .net Framework WCF vs. CoreWCF 😁  We are on .net Framework WCF currently and the performance of the related services are as per our expectations, but we are concerned moving to CoreWCF due to a potential deg

[2022-05-19 16:09] marlon-tucker opened #676 "FaultExceptions thrown from UserNamePasswordValidators do not get serialised correctly"
Using CoreWCF version `1.0.2`

We have a couple of custom classes that inherit from the `UserNamePasswordValidator` base class. Inside the `ValidateAsync` method we throw `FaultExceptions` to signify various authentication failures. CoreWCF does not serialise these back into a WCF response, which in our case should be a SOAP response.

The response from AspNetCore indicates the exception is not be

[2022-05-19 16:41] mconnew commented on #337
A quick question, are you using HTTP and are IIS hosted? If so, I would expect a significant speed up. Self hosted WCF can handle about twice the throughput of IIS hosted. This is due to the overhead from IIS and ASP.NET. When IIS hosting asp.net core, it doesn't have the overhead of ASP.NET (which was surprisingly heavy weight) so if this is your scenario, you should be faster with CoreWCF. If go

[2022-05-19 18:06] Danielku15 commented on #337
It would be a NetTcp Binding, Hosted in Kestrel, without credentials/security enabled. 😁So the overhead in this regards should be non-existant. I invested today some time (PoC wise) to do the migration. I might be able to run some comparison tests soon (assuming the test tools we made some years ago still work 😆)

[2022-05-20 01:05] birojnayak opened #678 "throw exception when config file path not found"
services.AddServiceModelConfigurationManagerFile(filepath), should throw exception if file is not present.... during startup itself...

[2022-05-20 12:25] oruchreis opened #679 "Enpoints with same prefix lead to 400 Bad Request"
Hi,
I'm trying to migrate our old wcf service to coreWCF. Old Wcf service has these endpoints:
- /AService (GET) => wsdl, help
- /AService => WsHttpBinding
- /AService/soap => BasicHttpBinding
- /AService/binary => CustomHttpBinding

This configuration works in old wcf service successfully.
I've added same endpoint and binding configuration with `AddServiceEndpoint` method at startup in the coreWc

[2022-05-20 20:50] mconnew commented on #337
Do you have a lot of connect/disconnect happening. If so I recommend making sure you test performance with the expected rate of connect/disconnect. When I first worked on the prototype, ValueTask wasn't a thing. The NetTcp framing code is now very layered using a pattern similar to asp.net core middleware. The connection handshake is going to be a bit heavier on allocation because of the Task's at

[2022-05-20 21:12] mconnew commented on #679
This is a side effect of using the asp.net core mapping capabilities compared with .NET Framework. We have another data structure we use which is like a hierarchical map to find the best match. Luckily there's an easy solution, change the order that you call `AddServiceEndpoint` to have the longest paths first. Add  them in the order `/AService/soap`, `/AService/binary`, `/AService` and the mappin

[2022-05-22 17:03] skurth commented on #679
I think this is the same issue like we have: #669

While the requests work to BasicHttpBinding, WSHttpBinding and WebHttpBinding endpoints, when trying to refresh the client service reference, it fails with 400 Bad Request (for ...?wsdl and also for .../mex).

Is there a way to add an endpoint with another path to provide MEX information?
In .NET Framework, we did it like this. Can this also be do

[2022-05-23 12:21] knasher opened #680 "Application URL and preferred port ignored when using IIS Express"
I have written a simple CoreWCF service and I'm trying to bind it to listen on port 5000, when I run it using the profile for the application it works fine but when I select the IIS Express profile the port is ignored and a random port is assigned to listen instead. I have tried everything I can think of and even provided the applicationUrl I want to use in the launchSettings.json file but nothing

[2022-05-23 12:31] oruchreis opened #681 "Misleading exception when the client does not send Accept-Encoding header."
Hi,
When I call a service method using binary message encoding with gzip, it returns "IOException: Unable to read data from the transport connection" and "SocketException: An existing connection was forcibly closed by the remote host.". I couldn't see any error in the console even if I set log level to trace. I struggled for a while to find out the real problem until debugged into the coreWCF sour

[2022-05-23 20:09] birojnayak commented on #676
assigning to @jonlouie  we do have test https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs#L110 and we can throw exception https://github.com/CoreWCF/CoreWCF/blob/a6531a5d237e79c645fa7670b70763438139bafb/src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs#L166 and see  why not getting fault exception..

[2022-05-23 20:47] mconnew commented on #681
Do you know what the behavior is when communicating with WCF on .NET Framework when you omit the `Accept-Enocding` header?

[2022-05-24 00:40] jonlouie commented on #676
@birojnayak Looks like we have a negative test case where auth is set to fail: https://github.com/CoreWCF/CoreWCF/blob/a6531a5d237e79c645fa7670b70763438139bafb/src/CoreWCF.Http/tests/SimpleWSHTTPTest.cs#L77-L107

I stepped through the code and we do attempt to [return a fault SOAP message](https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Http/src/CoreWCF/Channels/AspNetCoreReplyChannel.cs#

[2022-05-24 09:38] #680 closed

[2022-05-24 13:48] oruchreis opened #683 "CreateBufferedCopy and CreateMessage fail when the ServiceAuthorizationManager is set"
Hi,
I copy the request and response messages with `CreateMessage` after `CreateBufferedCopy` for logging the raw request and responses. But `CreateMessage` method fails at `CopyProperties` because the properties has `null` keys.
https://github.com/CoreWCF/CoreWCF/blob/40610b671b75b145f2b90f39be713712bb4c69c8/src/CoreWCF.Primitives/src/CoreWCF/Channels/MessageBuffer.cs#L284
I've looked into `Create

[2022-05-24 15:09] marlon-tucker commented on #676
That test looks like it is specifically testing the behaviour of the time out option of the binding, rather than testing exceptions thrown by the CustomUsernameValidator are getting serialised correctly.

[2022-05-24 19:40] oruchreis commented on #683
I've figure out what cause this. I'm using a custom `ServiceAuthorizationManager`, before I was set this in a custom `ServiceHostFactory` in old WCF. And now I'm setting this in `ConfigureServiceHostBase` like that:
[code]
If I comment out `ServiceAuthorizationManager` line, it works, but when I set this custom auth manager, it fails like above post at CreateMessage method.
My `ApiKeyAuthorization

[2022-05-24 21:44] jonlouie commented on #676
@marlon-tucker Thanks for the clarification. I wrote a new test to throw within the `UserNamePasswordValidator` class and found that the security exception was not being set, preventing a fault message reply. PR #684 addresses this, currently pending review.

[2022-05-25 04:41] powermetal63 commented on #674
@mconnew

This isn't clear at all. The [main page](https://github.com/CoreWCF/CoreWCF#what-is-core-wcf) say

Same for the [blog post from Microsoft](https://devblogs.microsoft.com/dotnet/corewcf-v1-released/).

With all my respect for the efforts, this is misleading and gives us (who use WCF for implementing both client and server communication) a wrong impression it could help us moving from .NET

[2022-05-25 07:00] mister-mist opened #685 "Installing CoreWCF breaks OpenId Connect flow"
I am trying to host CoreWCF in an existing ASP.NET core application that has a protected REST API. I noticed that just by installing CoreWCF, the authentication flow breaks.

This is reproducible by using a demo application from [OpenIddict](https://github.com/openiddict/openiddict-samples)

1. Clone the openiddict samples repository and go to the sample called Zirku
2. Start Zirku.Server, Zirku.A

[2022-05-25 10:00] oruchreis opened #686 "Adding ServiceBehaviorAttribute to ServiceHostBase"
Hi,
I'm trying to add a default ServiceBehaviorAttribute to all services. I achieved this by removing the default and adding a new one via ServiceHost.Description.Behaviors in old WCF. When I do this in coreWCF like that I got `InvalidOperationException`:
[code]
This leads to this exception:
[code]
But all of my service types have parameterless default constructor.
If I don't remove the default on

[2022-05-26 00:14] mconnew commented on #686
Does your service type have a default constructor? The automatically provided ServiceBehaviorAttribute has an `IInstanceProvider` configured which can pull the instance from DI when it doesn't have a default constructor. By replacing the behavior, you end up with the it doing the default when a provider hasn't been set which is to look for a default constructor.

[2022-05-26 08:09] oruchreis commented on #686
Yes, actually all of my service types doesn't implement any parametered or parameterless consturctor at all, which means they have a parameterless default constructor. And when I debugged into the source, the instance provider is null as you mentioned, and `hasDefaultConstructor` is true in here:
https://github.com/CoreWCF/CoreWCF/blob/7ef9498f66811fa7b678e5a4c0091d72d101012a/src/CoreWCF.Primitive

[2022-05-26 11:59] tauheedul commented on #234
Web Standard – WS-DualHttpBinding

[2022-05-26 19:25] mconnew commented on #686
I think I found the bug. The if statement around the code at https://github.com/CoreWCF/CoreWCF/blob/main/src/CoreWCF.Primitives/src/CoreWCF/Dispatcher/InstanceBehavior.cs#L45-L52 is inverted. It's saying if there isn't a default constructor, then create a delegate which constructs an instance from the default constructor. The `!` needs to be removed so it runs if there is a default constructor.

[2022-05-26 19:27] mconnew commented on #686
@oruchreis, would you be able to submit a test which validates this scenario and make the code change? It's okay if you can't, it will get fixed at some point.

[2022-05-26 19:34] mconnew commented on #685
The only thing I can think of is if CoreWCF is overriding a package dependency to an earlier version as it's a nearer dependency. For example, if an OpenId has a dependency on another OpenId package (which isn't directly referenced in the sample) which depends on something which CoreWCF also depends on, as CoreWCF is the closer dependency we might be downgrading a dependency causing this. If this

[2022-05-26 19:53] yowl opened #689 "CoreWCF with JWT bearer token"
Following from #666 to do the same but with a JWT bearer token, the same snipped works with minor changes:

[code]

Do this before calling `app.UseServiceModel`.

Posting here in case it helps someone else with JWT tokens.

[2022-05-26 19:53] #689 closed

[2022-05-27 00:20] mconnew commented on #683
I think I found the bug. Can you check the `Message.Security` property before you make the buffered copy? The code handling this special property had been commented out when copying the properties in the `ICollection<KeyValuePair<string, object>>.CopyTo` method. Basically some properties (like `Security`) aren't stored in the backing dictionary but still act like they are. The property copying cod

[2022-05-27 06:34] mister-mist commented on #685
The project builds cleanly with no build warnings.

I inspected the build output and could see that Microsoft.IdentityModel.Protocols.OpenIdConnect.dll was older than other Microsoft.IdentityModel.*.dlls.

Adding the following package to Zirku.Api2 solves the problem.

`<PackageReference Include="Microsoft.IdentityModel.Protocols.OpenIdConnect" Version="6.17.0" />`

[2022-05-27 12:10] oruchreis commented on #683
I've tested the workaround, it worked first but after repeating second request it throwed this:
[code]
It is interesting that if I restart application it works first time.
I don't know if it is worth to help the bug, I had done the following workaround by reflection before:
[code]
If I don't decrease the `_propertyCount` by 1, it throws same `IndexOutOfRangeException` above. If I don't set `AllowO

[2022-05-27 21:17] mconnew commented on #685
That sounds like some of the Microsoft.IdentityModel.* packages aren't backwards compatible. A newer version of the package should function the same as the older version but an older version of Microsoft.IdentityModel.Protocols.OpenIdConnect doesn't work with a newer version of other Microsoft. IdentityModel packages. They are all 16.x versions so there shouldn't be any breaking changes with newer

[2022-05-27 21:23] mconnew commented on #681
I think you can easily solve the connection pool problem on the client side. If you use the latest version of the WCF client packages, the CacheSetting has been reintroduced. The default is to not cache the ChannelFactory it can't presume it's safe due to binding equivalence is impossible to determine if they aren't the exact same instance. But if you know you always use the same binding and endpo

[2022-05-27 21:35] #676 closed

[2022-05-30 07:56] ismaelhamed commented on #610
Probably related.

After moving one of our services to CoreWCF, we've noticed that tools like Postman or SoapUI cannot load the .wsdl anymore when enabling security mode to `Transport` for the `BasicHttpBinding`.

The only difference in the .wsdl is that CoreWCF produces this `wsl:Policy` section at the top:

[code]
and the references it in the binding:
[code]

But WCF .net48 doesn't do any of thi

[2022-05-30 15:27] JonathanHopeDMRC opened #693 "Response Aborted when Serving Files"
Yes this is one _those_ issues.

We have a WebHttp binding using a streamed transfer mode that is used to serve files. It does so by getting a stream from blob storage and returning it from the endpoint. About 70% of the time I see an aborted error when downloading the file from that endpoint.

On the server side there is no exception, simply an info level log: the application aborted the connecti

[2022-06-01 00:25] mconnew commented on #693
I had a look at the code. I initially thought the issue might be that the HttpContext was disposed before we finished writing, but that doesn't look to be the case. My best guess is that XmlByteStreamWriter doesn't implement FlushAsync, and the implementation will fall back to XmlWriter.FlushAsync which will throw a NotImplementedException. ByteStreamMessageEncoder.WriteMessageAsync has this code:

[2022-06-01 00:29] mconnew commented on #674
I've merged the update to the description to hopefully this won't be a point of confusion in the future. Closing the issue as there's nothing else left to do.

[2022-06-01 00:29] #674 closed

[2022-06-01 00:35] mconnew commented on #610
@ismaelhamed, can you open a new issue as that's a different problem. Can you provide the binding that you are using so I can reproduce the issue and write a fix.

[2022-06-01 07:01] ismaelhamed commented on #610
@mconnew nevermind. I just realized version `1.0.2` is out and SoapUI can load the .wsdl correctly now.

That policy section is still created though: you can reproduce it by using a `BasicHttpBinding` with `BasicHttpSecurityMode.Transport` in the `NetCoreServer` sample. But it doesn't seem to be affecting the load of the wsld anymore.

[2022-06-01 18:48] #683 closed

[2022-06-01 19:02] JonathanHopeDMRC commented on #693
Wow OK I have no idea how you figured that out, but yes that works. PR is here: https://github.com/CoreWCF/CoreWCF/pull/694

[2022-06-01 19:33] mconnew commented on #693
You know how they say one of the worst ways to debug code is to stare at it, I think I missed that lesson in college and got really good at executing code in my head and finding obscure bugs that way 😁

[2022-06-02 02:53] tc-nathan opened #697 "Unexpected Result Testing Service with SOAPUI - HTTP 202 Accepted"
Hi there,

I am new to using SOAP and currently working on porting an old service created using ServiceStack for .NET Framework.

Using the example I have successfully created this Service and tested it locally using the .NET 6 console application provided. Both async and synchronous API calls are working between the Service and console application.

Following this I was asked to test it with SOAP

[2022-06-02 07:22] PccCodesix opened #698 "Should I chose the scoped life cycle for the Channel?"
Should I Create one callClient  for each request or Only one for all requests? create client  like this

var binding = new BasicHttpBinding();
var endpoint = new EndpointAddress(_url);
var factory = new ChannelFactory<MirrorWsdlSearchableSoap>(binding, endpoint);
var callClient = factory.CreateChannel();

[2022-06-02 08:46] ntvuong1709it opened #699 "Use CoreWCF.ConfigurationManager to register services for projects using .NET 4.7"
Hi,
Currently, I have a WCF service project as a separated library running in .NET 4.7 and a Web application consuming WCF service which have the configuration in web.config, also running in .NET 4.7.
Now I would like to upgrade WCF service project to use CoreWCF and re-use the configuration in web.config in Web application. I did some research and found that CoreWCF.ConfigurationManager is suppor

[2022-06-02 08:58] betsson-vyza opened #700 "BasiHttpBinding + https stripping in k8s = wrong soap address location in wsdl"
Hi, could you please advise if there is a solution to the problem.
GIVEN:
- CoreWCF service hosted in k8s;
- communication to cluster only by https, which is stripped by proxy;
- docker container has:
     EXPOSE 5000
     ENV ASPNETCORE_URLS=http://+:5000
- [Program.cs](https://github.com/CoreWCF/CoreWCF/files/8822253/Program.txt) attached
WHEN:
- I open https://my-test.tech/EchoService?singleWsd

[2022-06-02 13:26] gvkries opened #701 "NullReferenceException in RequestDelegateHandler when wrong HTTP method is requested."
I have an duplex contract with a NetHttp(s)Binding which is using WebSockets. If this endpoint gets called with a GET request, an `NullReferenceException` is getting thrown by `RequestDelegateHandler.HandleRequest()`:

   at CoreWCF.Channels.RequestDelegateHandler.HandleRequest(HttpContext context)
   at CoreWCF.Channels.ServiceModelHttpMiddleware.InvokeAsync(HttpContext context)
   at CoreWCF.Des

[2022-06-02 14:30] yowl opened #702 "ServiceDebugBehavior and enabling includeExceptionDetailInFaults"
Hi,

Is there an example of how to enable the ServiceDebugBehavior setting `IncludeExceptionDetailInFaults` to `true` ?

Thanks,

[2022-06-02 17:03] yowl commented on #702
Like:
[code]

[2022-06-02 17:03] #702 closed

[2022-06-04 20:42] betsson-vyza commented on #700
So the question is how to override endpoint address and binding's security just for wsdl.

[2022-06-05 01:49] kachalkov commented on #699
https://devblogs.microsoft.com/dotnet/upgrading-a-wcf-service-to-dotnet-6/

[2022-06-05 01:50] kachalkov commented on #699
but totally agree that CoreWCF.ConfigurationManager would benefit from small example with re-using wcf.config.

[2022-06-05 20:18] mtraudt-qontigo commented on #187
Is it possible to give an update on this issue? It is blocking us as well.

[2022-06-06 01:29] ntvuong1709it commented on #699
Thanks for the response, I looked at your provided article that describes steps to upgrade and how to expose services in .NET 6. However, in my case, I want WCF service project to use CoreWCF and Web application to stay in .NET 4.7. I can't find any ways to expose services in .NET 4.7. Do you know how to do that ?

[2022-06-06 07:37] clarence-simplex opened #704 "Equivalent of ChannelFactory<>() in CoreWCF"

[2022-06-06 07:54] torgashov opened #705 "System.Runtime.Serialization.InvalidDataContractException: Type 'CoreWCF.Channels.XmlObjectSerializerFault' cannot be serialized"
Hello!
I use custom wcf error handling.
In custom error handler (IErrorHandler) i create error message in method ProvideFault.
I get method HandleError with error "System.Runtime.Serialization.InvalidDataContractException: Type 'CoreWCF.Channels.XmlObjectSerializerFault' cannot be serialized".
And after that i get right error handling in method HandleError.
I got method ProvideFault twice method H

[2022-06-06 10:19] kachalkov commented on #699
CoreWCF is not for 4.7, it does not have ServiceHost

[2022-06-06 10:25] kachalkov commented on #699
you can try

https://docs.aws.amazon.com/portingassistant/latest/userguide/porting-assistant-vs-ide.html

which automatically port to net 6.0 with CoreWCF

[2022-06-06 11:12] torgashov commented on #705
I tried to set XmlObjectSerializerFault as public and added parameterless constructor.
And on client i got message:
OperationFormatter got wrong message. Need "Element" with name "IsUserEmailResponse" (IsUserMessage - service method name).

[2022-06-06 11:53] ntvuong1709it commented on #699
thanks @kachalkov ,
I see in this [article](https://devblogs.microsoft.com/dotnet/corewcf-v1-released/), it says that the 1.0 release of CoreWCF is compatible with NET Framework 4.6.2 (and above). As such, I think I can use CoreWCF in .NET 4.7.
I following this [example](https://github.com/CoreWCF/CoreWCF/blob/main/src/Samples/DesktopServer/Program.cs) that using .NET framework. Not sure but hope

[2022-06-06 14:04] torgashov commented on #705
After debug i see created soap message:
<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/">
  <s:Header />
  <s:Body>
    <XmlObjectSerializerFault xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/CoreWCF.Channels" />
  </s:Body>
</s:Envelope>

But currect message example:

<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/

[2022-06-06 20:54] WenningQiu opened #706 "Can CoreWCF.ConfigurationManager fully support configuring services using a configuration file?"
The existing CoreWCF.ConfigurationManager (1.0.2) supports loading service and endpoint configuration from a configuration file, however it still require some configuration work to be done in the code. The in-code configuration sometimes has to contain the type information that is in the configuration file, which creates undesirable coupling that defeats the purpose of using a configuration file (

[2022-06-07 04:22] #704 closed

[2022-06-08 09:08] torgashov commented on #705
all correct.

[2022-06-08 14:09] WenningQiu commented on #31
@mconnew What about IContractBehavior which contains both client side and service side behaviors? Does your "runtime reflection code" take care of the types used by IContractBehavior?

[2022-06-08 17:03] WenningQiu opened #707 "Does CoreWCF work with UsePathBaseMiddleware?"
When configuring service endpoints using IServiceBuilder.AddServiceEndpoint() or a configuration file, I was hoping to factor out the common path base to a single location instead of having it duplicated many times. However CoreWCF does not appear to honor the the path base installed with IApplicationBuilder.UsePathBase(); CoreWCF appears to expect the whole path to be specified in "address" argum

[2022-06-08 19:53] gvkries opened #708 "Closing WebSocket connections will always throw an exception"
When a client gracefully closes a `WebSocketTransportDuplexSessionChannel`, the service will always encounter an exception, because the internal `WebSocket` gets closed twice:
1. `WebSocket.CloseOutputAsync()` is getting called by `CloseOutputAsync`
2. `WebSocket.CloseAsync()` is getting called by `CompleteCloseAsync`.

The second call to `CloseAsync()` used to be a no-op in .NET Framework if I'm

[2022-06-09 02:26] timker commented on #377
Just for anyone looking how to configure IIS.
I set up development env to use Kestrel/IISExpress and production builds to use IIS.

Starting from [dotnet6server sample](https://github.com/CoreWCF/CoreWCF/tree/main/src/Samples/dotnet6server)

update appsettings.Development.json
[code]

in Program.cs () replace ConfigureKestrel block
[code]

[2022-06-09 12:38] gvkries opened #710 "ThreadPool exhaustion with NetHttpBinding (WebSockets)"
When using a `NetHttp(s)Binding` with web socket transfer and a lot of concurrent requests, the ThreadPool can get exhausted quickly. The dotnet-counters tool will show this, e.g.:

All thread pool worker threads are waiting at the same call site:

This happens because `DecrementActivity` is automically closing the `ServiceChannel` but is doing it in a sync over async way.
Note that this behavior

[2022-06-10 13:08] petarpetrovt opened #712 "Questions about http session and cookies"
* CoreWCF's custom `HttpBindingBase` class is missing `AllowCookies` property, is there an alternative?
* Does the property have meaning only for the client binding?
* Does server side session cookie require additional configuration other than `.UseSession and .AddSession`?

[2022-06-10 15:19] #712 closed

[2022-06-10 17:06] petarpetrovt opened #713 "Wrong port in WSDL"
Service behavior `UseRequestHeadersForMetadataAddressBehavior` dosen't set the correct port in WSDL. (breaks WcfTestClient from working properly)

[code]

### WSDL
![wsdl](https://user-images.githubusercontent.com/7642579/173115968-e28d40ac-7eba-498f-9e6b-bff226c50774.PNG)

### HelpPage
![helppage](https://user-images.githubusercontent.com/7642579/173115977-cf32e4f8-cf7c-42c4-8aa7-ba7edbdfcede.PNG

[2022-06-10 17:56] WenningQiu opened #714 "CoreWCF.ConfigurationManager does not allow alias endpoints"
CoreWCF.ConfigurationManager does not allow alias endpoints (same service, contract and binding but different address). It would blow up on the configuration below:

  <system.serviceModel>
    <services>
      <service name="CSG.ServiceRepository.ServiceRepository, CSG.ServiceRepository.Service">
        <endpoint address="WCFServiceRepository/ServiceRepository.svc"
                  binding="bas

[2022-06-11 16:07] petarpetrovt commented on #713
Setting the base addresses seems to fix the problem. But shouldn't the service behavior dynamically update the WSDL?

[code]

[2022-06-13 10:56] Rsverma opened #715 "IsInitiating and IsTerminating are not supported in CoreWCF"
Error is thrown when moving my WCF project from CoreWCF.

Severity	Code	Description
Error	CS0246	The type or namespace name 'IsInitiating' could not be found (are you missing a using directive or an assembly reference?)

[2022-06-13 14:09] KnapSac opened #716 "Duplicate registration exception when using different ports"
I'm trying to migrate an existing .NET Framework application to using CoreWCF.

There are multiple services in the application, with each service binding to a different port. This
works fine using the original WCF libraries (using a `ServiceHost` instead of ASP.NET Core), but
using CoreWCF I run into issues.

Without using `UseNetTcp`, adding multiple TCP service endpoints on different ports works

[2022-06-13 14:51] petarpetrovt opened #717 "Make `X509CertificateClaimSet` public"
Accessing client certificate requires `X509CertificateClaimSet` class to be public.

[code]

[2022-06-13 19:56] mconnew commented on #31
It's not able to with the current approach. The reason this works for the attributes is that we are instantiating a new CoreWCF namespaced version of the attribute and copying the set values across using reflection. Your own implementation of IContractBehavior isn't going to have a CoreWCF namespaced equivalent.

An initial thought might be to create an internal concrete implementation of the Core

[2022-06-14 05:58] petarpetrovt commented on #717
Temporary fix with reflection.

[code]

[2022-06-15 19:31] mzuvin opened #721 "Opening the CoreWCF Project in a Linux Environment"
Is there a way to run the project on linux to contribute? For example, Rider Ide.

[2022-06-15 23:05] mzuvin commented on #620
my solution :

#523 thanks.
[code]

[2022-06-18 00:19] mconnew commented on #620
What's your reason for wanting to avoid throwing a FaultException? If you create a class called EFault with a code and message property and add a FaultContract attribute specifying the fault detail type as your EFault type,

[2022-06-19 20:50] mzuvin commented on #620
I'm a bit of a newbie in CoreWcf. I was throwing wrong faultexception object (System.ServiceModel.FaultException). I found too late where I went wrong. I thought of such a solution myself. Actually, it has nothing to do with hangfire.

[2022-06-19 20:58] mzuvin commented on #620
I resorted to this method because there are model differences between the java wcf server running on another server and my (.net core) server. but I haven't fully tested the differences with Java. Maybe there is a problem, I'm not sure. Because corewcf's .wsdl import support does not fully work in my project. What I did fixed the problem, I also didn't touch it as it worked

[2022-06-20 07:53] Serjaru opened #723 "Netstandart 2.0??"
library for Net standart 2.0 or old core 3.1 ?? But sample net 6.0??

Do correct for net 6.0

Forget netstandar and core 3.1

a u sure? )))))))

[2022-06-20 12:43] yowl opened #724 "OpenApiSchemaBuilder.GetMethodUriWebInvoke can throw NullReferenceException"
If swagger is turned on, then CoreWCF can make it fail to show its UI with exception `Object reference not set to an instance of an object.`  Stack is
[code]

As this is a project where conversion from net framework to net core is a WIP, its likely I've not got everything right, but some clues in the error message would be helpful.

[2022-06-22 08:12] hatzhang opened #725 "Is Windows Authentication supported at version 1.0.2"
I tried different bindings, and i am using ConfigurationManagerFile at the server side.
With basicHttpBinding, and security mode of Transport, ServiceSecurityContext won't be populated.
[code]
And with wsHttpBinding and security mode of Message, PlatformNotSupportedException will be thrown.
[code]
And security mode of TransportWithMessageCredential, does not have clientCredentialType of Windows.

[2022-06-22 15:10] casals opened #726 "DuplexClientBase<TChannel>"
Is there an equivalent/port to DuplexClientBase<TChannel>?

[2022-06-22 16:45] hav00k opened #727 "UseRequestHeadersForMetadataAddressBehavior not working with NetTcpBinding"
It seems that the request headers are ignored when generating WSDL for a `NetTcpBinding`.

I have a net.tcp service listening on `net.tcp://0.0.0.0:8090` and a help page on `http://0.0.0.0:8080/mex`, which when accessed from a browser on `http://localhost:8080/mex` correctly shows the WSDL link as `http://localhost:8080/mex?wsdl`.

But the generated WSDL ignores the host and instead contains the f

[2022-06-22 17:07] #486 closed

[2022-06-22 20:58] mconnew commented on #725
TransportWithMessageCredential does support client credential type of Windows. You set the security mode to TransportWithMessageCredential and then modify the message security node. You should be able to do something like this:
[code]
I know this works as @birojnayak spent a lot of time making sure this scenario works. We now have (as of this morning) the Transport security with Windows auth worki

[2022-06-22 23:32] hatzhang commented on #725
Thanks.
I verified Transport security with Windows auth work with the version of 1.1.0-alpha.41.

On client side:
[code]
And on server side:
[code]
And AspNetCore authentication need to be enabled, i used the [Kestrel way](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-6.0&tabs=visual-studio#kestrel).

[2022-06-22 23:32] #725 closed, assigned to nobody

[2022-06-23 02:33] #710 closed

[2022-06-23 02:35] #708 closed

[2022-06-23 17:11] JonathanHopeDMRC opened #728 "Delete Char in Headers Causes Exception"
This is a super minor issue.

When a request is made to Kestrel the headers are validated with this: https://source.dot.net/#Microsoft.AspNetCore.Server.Kestrel.Core/Internal/Http/HttpParser.cs,a67eab3f1be1224a,references

And when the headers are accessed (i.e. WebOperationContext.Current.IncomingRequest.Headers) the headers are validated a second time with this: https://source.dot.net/#System.Ne

[2022-06-23 18:02] mconnew commented on #723
We support netstandard2.0 so that CoreWCF will run on .NET Framework. This will be dropped in the 2.0 release. This allows an easier migration as you can validate that CoreWCF has the features you need without having to migrate your service implementation to .NET Core/.NET 6 first.

[2022-06-23 18:52] #723 closed

[2022-06-23 19:58] mconnew commented on #728
Rfc7230 says header values can only consist of visible characters, so the DEL character isn't valid in a header vakye. I'm not in favor of fixing up an invalid request to make it valid automatically as part of a library (such as CoreWCF). If a specific service/app wants to allow that, it should be possible to easily make that change as you are doing.
The way to get unicode characters into an http

[2022-06-23 20:48] JonathanHopeDMRC commented on #724
I think I see the issue. Do you have an endpoint with a WebInvoke attribute that doesn't have a Method set? If that is the case I'll put in a PR to fix this.

[2022-06-23 20:51] yowl commented on #724
yes , lots e.g.
[code]

[2022-06-24 00:23] #726 closed

[2022-06-24 00:25] #717 closed

[2022-06-27 15:22] WenningQiu commented on #31
@mconnew There are interfaces that let applications define custom behaviors that are invoked on both the client side and the service side. One such example is IParameterInspector. Suppose my IParameterInspector decides to raise a FaultException, can it raise System.ServiceModel.FaultException in either client context or service context, or should it raise System.ServiceModel.FaultException in the

[2022-06-27 19:22] mconnew commented on #31
I believe we have code which converts the FaultException and you should be able to throw System.ServiceModel.FaultException. It's been a while since someone brought that up, and I think it was fixed by someone as a PR. That would be the behavior I would expect so if it's not doing that, open an issue.

[2022-06-28 00:22] lapellaniz opened #731 "Running MinimalAPIServer sample in Azure App Service does not process requests"
Scenario:
After deploying the sample https://github.com/CoreWCF/samples/tree/main/Scenarios/Getting-Started-with-CoreWCF/MinimalAPIServer to Azure App Servier, any calls made to the Echo service fails with a 503 Service Unavailable. Removing UseServiceModel and adding a simple MapGet allows requests to be made to the server.

Expected:
Calls made to http://{AppServiceName}.azurewebsites.net/EchoSe

[2022-06-28 11:47] tom-englert opened #732 "Services without default constructor generate misleading error message"
After adding a non-default constructor to a service registered only with `IServiceBuilder.AddService<ServiceType>`, the following error message pops up:
`add a default constructor to the type, or pass an instance of the type to the host.`
However there is no way to "pass an instance of the type to the host."

Suggested message:
`add a default constructor to the type, or register a service of the t

[2022-06-29 05:41] spur19 commented on #356
@mconnew has net tcp port sharing been implemented in the CoreWCF 1.0 release? I am migrating an application from .Net Framework to .Net Core 3.1, and port sharing is a central part of my implementation.

[2022-06-29 19:08] mconnew commented on #356
The initial feature will definitely work by having two separate WebHostBuilder instances in the same process, but I need to get the scenario you want working as a step towards the final solution of working in IIS. IIS requries the IIS Integration IServer implementation which isn't the Kestrel implementation (that NetTcp depends on). We're already looking into using IHostedService for queue support

[2022-06-29 23:51] #541 closed

[2022-06-30 07:06] birojnayak commented on #164
@Ximik87 please refer this https://github.com/CoreWCF/CoreWCF/pull/736 and specifically the design sample kept at https://github.com/birojnayak/CoreWCF/tree/MSMQ/src/CoreWCF.Queue.Common for reference.

Everyone I would appreciate if folks can review the design doc and provide comments.

[2022-06-30 07:43] spur19 commented on #356
@mconnew No, we don't do IIS hosting